[2017-07-06 18:51] xagon opened #1 "problem with background class in about page"
Hi,
Nice template. Found an issue tho with the about.component.scss .background &::before class.
If you maximize the window - the mountains picture is displayed properly. When you make the browser much smaller, the problem happens when you scroll down in the menu. The toolbar and footer are fixed, but the image is set to a fixed size as well. See screenshots:
![about - in maximized window](https:/

[2017-07-06 22:23] tomastrajan commented on #1
Hey Kuba,

thanks for the catch! Yeah I think another div with something like `height: 100vh` should help. Feel free to submit your PR if you can solve it! ;)

Wish you a great day!

[2017-07-21 15:51] tomastrajan commented on #1
Hey Kuba,

if fixed the issue, now it should work no matter the window size :)

[2017-07-21 15:51] #1 closed

[2017-08-01 14:40] ahaw opened #2 "[Feature request] Universal support."
As a AngularCli added support for Universal app angular-ngrx-material-starter should have option to be build with support for Angular Universal to achieve better seo.

[2017-08-05 08:59] maxisam opened #3 "local-storage"
Thanks for sharing. It is a great repo.

I would like to recommend you using [ngrx-store-localstorage](https://github.com/btroncone/ngrx-store-localstorage) instead.

[2017-08-05 12:46] tomastrajan commented on #3
That's a good point, will look into that if i find some time. Feel free to submit a PR if you wanna look into that 😉.

[2017-08-09 16:44] tomastrajan commented on #2
That's definitely something I will look into in the future!

[2017-08-10 07:54] tomastrajan commented on #2
Angular Cli 1.3.0 supports SSR but it's still unfinished and doesn't support lazy routes so I'll will wait until that is supported. Check the SRR [guide](https://github.com/angular/angular-cli/wiki/stories-universal-rendering) from Angular Cli.

[2017-08-25 04:50] kludgeDan opened #4 "Really Cool"
Not really an issue but I didn't see any licensing on the main page. I was assuming this is MIT but wasn't sure. Really like the big input component. Wanted to use it in a site I am making. Been reading your blog and watching your videos as well and just wanted to say thanks for teaching me Material!

[2017-08-25 09:45] #4 closed

[2017-08-25 09:45] tomastrajan commented on #4
Happy to hear you find this repo helpful. I added the MIT license file enjoy!

[2017-09-25 01:20] GuateDevIO opened #5 "Property 'themeClass' does not exist on type 'OverlayContainer'."
I am currently getting the following error when running npm start: **ERROR in C:/Users/....../angular-ngrx-material/src/app/app.component.ts (52,31): Property 'themeClass' does not exist on type 'OverlayContainer'.**

As per the recent Angular Material changelog available here https://github.com/angular/material2/blob/master/CHANGELOG.md#200-beta11-carapace-parapet-2017-09-21

`overlayContainer.ge

[2017-09-25 03:26] tomastrajan commented on #5
Without checking the code (cant now) I think you troubleshooted the issue pretty well. I would not expect that to break anything else because that code was only concerned with that one thing.

Another thing is that now we probably have to `import { OverlayContainer } from '@angular/cdk'` instead of `'@angular/material'` feel free to try locally and run the app. If you can switch themes and dropdow

[2017-09-25 06:44] tomastrajan commented on #5
Ok, was fixed in 1.13.0, thanks again.

[2017-09-25 06:44] #5 closed

[2017-11-15 05:41] axmad22 commented on #3
local-storage loads in the initial states saved, but on _@ngrx/effects/init_ for root action event it removes feature states that are yet to be loaded in and only the root state gets hydrated. my question does it support lazy-loaded feature states. thanks for sharing

[2017-12-01 02:26] lexcaraig opened #12 "[Feature Request] Using ngrx/entity"
It would be great to add the new `ngrx/entity` feature and provide an example. So we can follow the latest update provided by ngrx. :)

Over all, this is a really good starter. :)

[2017-12-01 03:45] tomastrajan commented on #12
Was not aware of that one, will definitely look into it and let you know.

[2017-12-01 05:51] lexcaraig commented on #12
Great! Looking forward on it! Thanks! :)

[2017-12-02 11:17] phuclam85 opened #13 "Auth with firebase"
Can you add new feature, auth with Firebase or AngularFire?

Thanks

[2017-12-02 14:01] tomastrajan commented on #13
Well that's rather very specific functionality and I would rather keep starter more generic, many people might want to implement their own auth.

[2017-12-05 23:40] tomastrajan commented on #2
As commented on the related PR

[2017-12-05 23:40] #2 closed

[2017-12-05 23:41] #13 closed

[2017-12-16 14:42] Kaffiend opened #25 "Implement Typed Actions"
Instead of overriding the `Action` interface for `@ngrx` its a ver nice development experience having typed actions with models for the payload, with intellisense.

[2017-12-17 04:25] tomastrajan commented on #25
Pull request maybe ? 😉

[2018-01-05 14:40] enterprisebug opened #34 "theme not loaded after page refresh in development mode"
Hi,

after selecting e.g. the LIGHT-THEME on your [published website](https://tomastrajan.github.io/angular-ngrx-material-starter) the theme gets restored when refreshing the page. That is what is expected...

When cloning your rep the theme gets not restored in development mode after refreshing the page with F5.

I tried debugging for quite a while but couldn't find any solution.
Do you have a fi

[2018-01-05 21:27] RonaldBastien opened #35 "<mat-sidenav-container> is not a known element"
I get an error 'mat-sidenav-container' is not a know element in app.component.html

When I click on the icon in the <mat-toolbar> the (click)="sidenav.open()" does not trigger.

I've tried the online demo
https://tomastrajan.github.io/angular-ngrx-material-starter#/about
in both Chrome and Edge  and get the same behaviour (I don't get the sidenav bar)

Any idea what would be the problem?

[2018-01-07 05:41] tomastrajan commented on #35
Hi! Thank you for finding the issue. This could be caused by changes in API of angular.material sidenav component with newer versions of angular material, will look into it when I am back in civilization around end of january... Feel free to check it out and submit PR too 😉

[2018-01-07 05:49] tomastrajan commented on #34
Hmm, interesting. Can you see theme configuration in local storage for lolcalgost when in dev mode? I only remember how to check it in Chrome, the dev tools application tab.

[2018-01-07 11:53] tomastrajan commented on #35
Hmm strange, I just tried both  DEV and PROD mode (on GitHub pages) in Chrome and Edge and side menu works in both cases. I can navigate to available routes and console doesn't show any error so could you please provide more details?

[2018-01-07 11:54] tomastrajan commented on #34
I did some testing and it seems to be working in Chrome but not in Firefox and IE. Will look into why later...

[2018-01-07 14:41] RonaldBastien commented on #35
I figured out that the button that enables the sidenav.open() is hidden with a class attribute in app.component.html

<button mat-icon-button class="**hidden-md-up**" (click)="sidenav.open()">

If I remove the "hidden-md-up" class, then I see the menu icon, and clicking on it opens up the sidenav.

What I don't understand is why that is hidden at start up and how does a user get it to display.  I

[2018-01-08 05:00] enterprisebug commented on #34
i have attached a screenshot for Chrome and IE11.

the setting gets stored but on initial load not restored.

even on settings page the stored theme gets not preselected.

i don't know if this is an issue of your repo but i am a fan of it because it shows a lot of great studd.

i tried reading: [Initial State and Ahead of Time (AoT) Compilation](https://github.com/ngrx/platform/blob/master/docs/st

[2018-01-08 06:14] enterprisebug commented on #34
okay. just observed on your [PROD site](https://tomastrajan.github.io/angular-ngrx-material-starter#/about):

It is working if **ANMS-AUTH** key is present.

![application_key](https://user-images.githubusercontent.com/1539741/34660531-56e79c54-f443-11e7-8e4a-ae0cf1aa0156.png)

If you delete this key then it is not working.
That should be an easy fix now. I will check it later.

[2018-01-09 06:32] enterprisebug commented on #34
@tomastrajan i thought it would be an easy fix. But actually i don't get it.
Do you have any other clue how to solve this?

[2018-01-09 06:45] tomastrajan commented on #34
@enterprisebug yeah it should be related to the way we're initializing ngrx store on app startup, its looking for the keys per reducer / feature and probably this fails if the key (in our case ANMS-AUTH) is not present and probably the exception is swallowed silently. I am currently camping in Tasmania so not much internet or electricity is available but try checking / debugging local storage serv

[2018-01-09 07:04] tomastrajan commented on #34
So the problem is in the  [local storage service](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/06a51a573700371ccc95b418cea8045e5b33e6cf/src/app/core/local-storage/local-storage.service.ts#L28). This fails when the key is not found in local storage so we have to skip JSON parse in those cases.

[2018-01-09 14:59] enterprisebug commented on #34
I was not able to find any swallowed exceptions...

Loading the initial state seems to work in my opinion:

    export function getInitialState() {
        const initialState = LocalStorageService.loadInitialState();
        console.log(initialState);
        return initialState;
    }

this loads the setting:
![2018-01-09 15_56_53-about - angular ngrx material starter](https://user-images.githubu

[2018-01-09 15:05] enterprisebug commented on #34
strange. even after commenting the *selectorAuth*

    ngOnInit(): void {
      this.store
        .select(selectorSettings)
        .pipe(
          takeUntil(this.unsubscribe$),
          map(({ theme }) => theme.toLowerCase())
        )
        .subscribe(theme => {
          console.log(theme); // writes to console: default-theme
          this.componentCssClass = theme;
          this.overlay

[2018-01-10 22:55] tomastrajan commented on #35
Ok so the `hidden-md-up` is a bootstrap css class which serves as a responsive utility and hides element on every display which is at least medium size or bigger. Application has normal top menu with all items by default. Menu is collapsed on smaller screens and replaced by the hamburger menu which slides out on click.

It seems that this works as expected, does it answer your question?

[2018-01-10 23:01] tomastrajan commented on #34
Can you see theme class applied correctly in HTML like  `<anms-root class="<theme-name>-theme">` ?

[2018-01-11 05:07] enterprisebug commented on #34
i am not authenticated.
i have deleted the ANMS-AUTH key from localstorage.
i have chose the BLACK-THEME.
![2018-01-11 05_58_36-microsoft edge](https://user-images.githubusercontent.com/1539741/34809322-87cb59e8-f694-11e7-896b-b27e896bba2f.png)

this is loading the default-theme.
it produced the following HTML when loading the app:
![2018-01-11 06_00_43-einstellungen](https://user-images.githubuse

[2018-01-11 23:57] RonaldBastien commented on #35
Yes it does.  Totally.  I truly feel like a newbie.

Thanks for taking the time to write back.

[2018-01-11 23:57] #35 closed

[2018-01-12 02:13] tomastrajan commented on #35
No worries, cheers mate! 🎉

[2018-01-12 08:08] #25 closed

[2018-01-12 08:16] tomastrajan commented on #25
Now follows official [ngrx actions guide](https://github.com/ngrx/platform/blob/master/docs/store/actions.md). Cheers 🎉

[2018-01-12 08:23] tomastrajan commented on #12
I was looking into it and its very specific to the CRUD operations which are not really present in the starter project as of now. Therefore there is no reason to add @ngrx/entity as of current starter project scope.

[2018-01-12 08:23] #12 closed

[2018-01-13 08:09] tomastrajan commented on #34
Ok I found out what the problem was. The initial state was retrieved correctly. Only auth reducer is available during init phase (other 2 are lazy loaded) so when we reduce initial state without `auth` key auth reducer gets triggered and generates new state with its initial state. This new generated state is different from original one so it replaces it effectively throwing away other state keys f

[2018-01-13 08:30] tomastrajan commented on #3
I have looked into this and also checked issues in [ngrx-store-localstorage](https://github.com/btroncone/ngrx-store-localstorage) repo. They have similar problems with hydrating initial state for lazy loaded feature reducers.

The issue with losing initial state was present also in this repo and was solved by following commit by merging initial state on both `INIT` and `UPDATE` (reducers) actions

[2018-01-13 08:38] #3 closed

[2018-01-13 08:39] #34 closed

[2018-01-14 05:55] enterprisebug commented on #34
@tomastrajan perfect! I'm really glad you found a solution!
Thanks man! I really appreciate it!

[2018-01-16 13:04] nblopes opened #39 "Animations in Safari seam to flicker"
Been testing this in multiple browsers including Safari, Edge and IE11.

Safari:
The animations in Safari seam to flicker.

Edge: The animations in Edge seam to flicker.

IE11:
As it is does not run. IE11 does not support "includes" method in Strings. As a result its crashes. Use "indexOf" instead.

[2018-01-17 02:19] tomastrajan commented on #39
Thank you very much for your effort will definitelly look into it. For IE11 the solution will be to import core-js polyfill to support includes.

[2018-01-17 06:54] #39 closed

[2018-01-17 07:04] tomastrajan commented on #39
Still the animation fickleness is worth looking into.

[2018-01-30 14:00] cynx opened #47 "Do not import Shared Module in AppModule"
as per style guide, shared module is intended to be imported only in feature modules and not in app or core.

[2018-02-01 00:10] tomastrajan commented on #47
I was reading the style guide right now but I can't find the place where the import of shared module in app module is discouraged? I only found

From this I understand that it's about components (pipes, directives, ...) which are used `across the entire` application. Which includes also app component which implements the main layout like toolbar, sidenav and footer so it needs access to these mate

[2018-02-11 22:40] elucidsoft opened #50 "What's the difference between static folder and the examples folder?"
I don't get the distinction between these two folders?  Can you elaborate on this a bit?

[2018-02-12 04:57] tomastrajan commented on #50
Hi @elucidsoft !

The difference is that `static` is ment to be used for static (marketing) content with static pages which just display info without much functionality. In our case it's `about` and `features` pages. But in Angular terms its a `feature module`. Just a way to organize code.

Examples is a lazy loaded feature module with app like functionality. Again its more about code organization

[2018-02-16 16:13] josoroma opened #52 "Is there a simple example that mimics communication between sibling components?"
Hi Hackers!

In order to make sense of the communication between components, I am looking for a simple example, one that mimics the old and problematic emit and broadcast communication but this time using ngrx.

For example:

On click event `Component 1` sends an `ID Param` to the method of another component => `Component 2`, so `Component 2` re-loads a listing table based on the ID Param previous

[2018-02-18 00:31] tomastrajan commented on #52
Hi @josoroma !

this can be accomplished in multiple ways. This repository uses [ngrx](https://github.com/ngrx/platform) state management library which holds state in dedicated centralized store.

All interested components are subscribed (listening) to state updates from the store. State is updated only in the single source of truth (the store) by emitting actions in the components and services.

[2018-02-19 18:01] #50 closed

[2018-02-21 18:55] netlander opened #54 "Sidenav Not Showing"
Looking at the code there is a `sidenav` with `ngFor` anchors but when the app is run the `sidenav` is nowhere to be seen. Is this a feature of the app? If so, what's the rational behind it? Thanks

[2018-02-21 19:19] netlander commented on #54
Got it working now. Looks like `class="d-md-none"` was hiding the menu button.

[2018-02-21 19:19] #54 closed

[2018-02-27 21:18] DevJoseWeb opened #62 "Login ?"
I do not understand one thing only, the login and logout does not work or is it only inlustrative? how would it look for a login before the main screen?

usually I do this:

`const routes: Routes = [
  { path: '', component: ReadmePageComponent },
  { path: 'login', component: UserLoginComponent },
  { path: 'items', component: ItemsListComponent, canActivate: [AuthGuard] },
  { path: 'notes', com

[2018-03-03 01:37] tomastrajan commented on #62
Hi @DevJoseWeb !

It would be very helpful if the examples provided by you were provided on [stackblitz ](https://stackblitz.com/) or some other nicely formatted way because this is very hard to read.

Besides that the way it was meant with this starter is that there are some routes which are always public and some routes which are only accessible after login.

The initial implementation was very

[2018-03-04 18:18] DevJoseWeb opened #65 "snack-bar"
I'm trying to extend a notification system using a snack bar on your project, but without success, do you have any tips?

`import { MatExpansionModule } from '@angular/material/expansion';
import { MatSnackBarModule } from '@angular/material/snack-bar';`

`openSnackBar() {
    this.snackBar.openFromComponent(AppComponent, {
      duration: 900,
    });
  }`

`    <button mat-button (click)="openSn

[2018-03-09 10:23] Fiontan commented on #47
@cynx  In my opinion, this is an incorrect interpretation and I have imported SharedModule into whatever module needs its functionality, including the AppModule, which conforms to @tomastrajan 's approach. For example, FeatureModuleX contains some Material components, the Modules of which are imported in a MaterialComponentsModule (and exported) into SharedModule. SharedModule is imported into App

[2018-03-09 10:29] Fiontan commented on #52
NGRX Store uses Observables and so when a Component A subscribes to a slice of the Store e.g. Todos, that Component B is also subscribed to, then when Component C dispatches an action to update the Store's list of Todos, then all Components mentioned above will get the latest Todos value.

[2018-03-09 10:36] Fiontan commented on #65
@DevJoseWeb please provide more code- e.g. it's not obvious from above if you are correctly injecting MdSnackBar instance into your component and I'm not so sure about the AppComponent part of: this.snackBar.openFromComponent(AppComponent ...

[2018-03-09 12:04] Fiontan commented on #65
@DevJoseWeb I don't have time to clone/fork/pull request etc but here is a solution- it's the src dir zipped and contains a shared-snack component added to the shared module as an entryComponent.
I then import it and the MatSnackbar into the todos.component:
import { MatSnackBar } from '@angular/material';
import { SharedSnackComponent } from '@app/shared/shared-snack/shared-snack.component';

I t

[2018-03-09 16:01] elucidsoft opened #70 "matInput colors for Dark Theme are incorrect"
The matInput colors for Dark theme are not right, they show up as black when focused.  I dug around and wasn't 100% clear on how this should be fixed properly.  It looks like setting the 900 on mat-palette($mat-grey, 900...) in the first parameter is responsible.  But if you change that it also changes the navbar, etc.

I was able to override these settings in styles.reset.scss-theme.scss with the

[2018-03-10 11:26] rurziceanu opened #71 "Animation does not work well on Ms Edge browser"
Hello,
Do you have a solution to fix the issue with the animation on edge browser?
all content is to the left and then after the animation has finished it goes to the center

[2018-03-10 16:54] elucidsoft opened #72 "MatSnackBar Theme missing"
Also noticed that there is no theme applied to SnackBars when used.

[2018-03-10 20:41] tomastrajan commented on #71
This was already dealt with oncr but it seem this bug returned, it has something to do with flex layout (the main layout) of the content and footer.

I'll look into it later but maybe you can try some width 100% or jusy google for IE / Edge flexbox width glitch.

[2018-03-11 17:34] rurziceanu commented on #71
thx :) I will try
And thank you for sharing this project

[2018-03-14 00:30] #65 closed

[2018-03-14 00:38] tomastrajan commented on #65
Ok, so I added snack-bar notification to todos example, feel free to check it!

That being said, I personally find snack-bar pretty lacking compared to full-fledged notification system with stuff like severity etc... I might add centralized notification service later...

[2018-03-16 10:01] #70 closed

[2018-03-17 03:54] #72 closed

[2018-03-17 04:00] tomastrajan commented on #72
Hey @elucidsoft !

I added example on how to style todos notification snack bar...

The gist of it is that it is an overlay component (similar to menu popup or dialog) so the popup part ( the notification itself ) is added to the end of the DOM tree just before closing `</body>` tag. This means that the layout doesn't belong to the todos component itself and has to be styled using global styles in

[2018-03-17 05:09] tomastrajan commented on #47
I consider this question answered and closing the issue, in case you have more arguments please open a new issue, thank you for your contribution!

[2018-03-17 05:09] #47 closed

[2018-03-17 05:10] tomastrajan commented on #52
I guess this question was answered by the provided comments. In case you have some more questions please feel free to create new issue. Thank you for contribution!

[2018-03-17 05:10] #52 closed

[2018-03-17 05:12] #62 closed

[2018-03-17 05:52] elucidsoft commented on #72
I would also be in favor of such a component to replace snackbar...

[2018-03-19 12:50] JanOschii opened #91 "Theme scss file paths in styles.scss are missing parent folder"
Hi Tomas,

take a look on the import statements for your themes in `styles.scss`.
They are missing the parent folder "themes".
It should look like this:

[code]
Although it worked before, my IDE **PhpStorm** stopped complaining about these lines after the change.

Jan

PS: Nice project.

[2018-03-19 13:09] JanOschii opened #92 "Embed a material core theme in styles.scss to remove warn "Could not find Angular Material core theme.""
Hi Tomas,

I  have had this message: **Could not find Angular Material core theme.** in my dev log.
I could solve it by adding
`
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
`
after line 11 in **styles.scss**:

[code]

Regards

Jan

[2018-03-20 00:09] tomastrajan commented on #91
Hey Jan!

Happy to hear that you like the project! The deal with the `themes` folder is that it is defined in `angular-cli.json` file in `stylesPreprocessorOptions` and `includePaths`.

To make it work in WebStorm set `themes` folder as resource root.

ps: I use Intellij IDEA so had to deal with it too 😉

[2018-03-20 04:10] #92 closed

[2018-03-20 04:15] tomastrajan commented on #92
Hey @JanOschii !

Thank you for reporting the issue! I was aware of this and it was pretty harmless but I agree we are better of without weird warning in the console!

The issue was caused by the fact that the theme class was added to the main DOM container only after application already started. `AppComponent` subscribes to the store to retrieve theme class and apply it on the `overlayContainer`

[2018-03-20 21:56] JanOschii commented on #91
Hey Tomas,

i see. But its still defined in `.angular-cli.json`
[code]
Maybe it works with WebStorm but fails with PhpStorm.
Do you see any problem, if I keep the import statements with the subfolder?

Jan

[2018-03-21 07:37] #91 closed

[2018-03-21 07:41] tomastrajan commented on #91
Hey @JanOschii !

I gave it a bit more thought and realized you're right. Original solution is not obvious (more like magic) plus it doesn't work in some IDEs by default.

So I removed `"./themes" from `includePaths` and used full theme imports in `styles.scss` instead.

As for `"./"`, the story is bit more complicated because it is used for imports of `styles-variables.scss` which is used by many

[2018-03-21 19:41] elucidsoft opened #93 "Dark Blue Color as Forecolor on Active Drop Down Items"
After your latest changes of making the default themes always included the forecolor of Active drop down items in Dark Theme is a dark blue color.  You can see this if you go to change the settings and your theme is currently the Dark theme.

[2018-03-22 01:56] tomastrajan commented on #93
Thank you for reporting will have a look into this!

[2018-03-23 09:58] rurziceanu commented on #71
From what I've seen, is not related to flex main layout
I fixed it by adding a wrapper div in the pages with position relative

[2018-03-24 03:24] tomastrajan commented on #71
Could you please share solution by creating a  PR with the fix ?

[2018-03-26 17:27] rurziceanu commented on #71
Sure,
But I see that I don't have the rights to create a branch for the pull request
![capture](https://user-images.githubusercontent.com/33427578/37922004-b71273f4-312b-11e8-9df6-f947b1fa4d66.PNG)

[2018-04-06 15:03] mashbrno opened #125 "Angular 6.0.0-beta7 can't be installed"
During `npm install` I have problem with angular 6.0.0-beta7 because it references `github:webpack-contrib/html-webpack-plugin` which doesn't exist anymore. I tried to update to 6.0.0-rc.2, but got another issue with `Local workspace file ('angular.json') could not be found.`

Can you please help me?

[2018-04-06 15:34] bretonio commented on #125
I have the same difficulty since yesterday. I am prompted for my `.ssh` key and then,

[code]
I checked for my existing SSH and studied the [tutorial on generating and adding these](https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/).

Thanks for your kind attention.

[2018-04-06 16:26] JanOschii commented on #125
Seems to be a bug with angular/core. I have had the same problem and the easy way I found was downgrading all angular dependencies to "Latest" (5.2.9 mostly). Now everything is fine again.
If you use Visual Code, then you should take a look to the "Version Lens" extension for VS.
Its a live saver for jobs like this.

[2018-04-06 23:07] aetherity commented on #125
Same issue.

[2018-04-06 23:40] GuateDevIO commented on #125
Had the same issue and after an hour of investigation, it seems that the issue is found here:
See text below headline: "If you use HtmlWebpackPlugin“ on https://medium.com/webpack/webpack-4-released-today-6cdb994702d4

To fix this I replace the blow:

https://github.com/tomastrajan/angular-ngrx-material-starter/blob/3e7a6217c83943310b260607be27183f837d14fc/package-lock.json#L106

Replace it with t

[2018-04-07 07:28] tomastrajan commented on #125
Hey! Thank you very much for debugging this issue! I hope that this will all go away soon with releases of stable 6.0.0 of Angular, Material, RxJS and CLI. Until than the workaround with the html-webpack-plugin version seem to be the way to go!

[2018-04-07 16:05] aetherity commented on #125
This resolved the install issue.  Thanks!

[2018-04-08 17:30] hhubik opened #126 "Why not OnPush change detection in BigInputActionComponent?"
Thanks for making this starter project!!

I am wondering though why none of the components use OnPush change detection. I am under the impression that one of the benefits of using "dumb" components that only receive input data and/or produce output data was that their performance could be improved by  using the OnPush change detection.

It seems that at the very least `BigInputActionComponent`  an

[2018-04-08 20:03] tomastrajan commented on #125
Started working on migration to 6.0.0-rc versions of Angular, CLI, Material, NgRx and RxJS. It seems to mostly work in dev mode but I still have issues with running tests and lazy loaded ngrx modules so it might take a while or even until real 6.0.0 until all things play nicely together.

[2018-04-08 21:48] #125 closed

[2018-04-08 22:11] tomastrajan commented on #125
Feel free to check [this huge commit](https://github.com/tomastrajan/angular-ngrx-material-starter/commit/9a41534bc6c6d8cf1e39bdf303e9bfe4e2ffa3a5) which contains migration to the new Angular CLI project configuration and layout.

Also version of starter project was aligned with Angular and others so starter is currently having `6.0.0-rc.1`.

Hope that helps!

[2018-04-09 07:49] zoamel opened #131 "[Suggestion] Provide sample integration with firestore"
I want to suggest providing some sample integration with firestore + ngrx, maybe on some branch. I think it's quite popular BaaS and some people will try to use it, especially for some MVP concepts. And from what I see integrating this with ngrx is not very trivial so this would help a lot to see your sample implementation :)

[2018-04-09 09:00] shootermv opened #132 "angular/cli dependency looks incorrect (latest is 1.7.4)"

[2018-04-09 21:51] hhubik commented on #126
@tomastrajan I will give that a try.

[2018-04-09 22:07] hhubik opened #133 "Why barrel files?"
Barrel files are no longer recommended by the Angular team:

`angular-ngrx-material-starter/src/app/core/index.ts`
`angular-ngrx-material-starter/src/app/shared/index.ts`

In my experience, barrel files can lead to problems due to circular dependencies.  Any thoughts on that?

[2018-04-10 00:49] tomastrajan commented on #133
Can you please provide link to that statement? I only could find [this](https://angular.io/guide/glossary#barrel).

As for circular dependencies, their presence can be a valuable signal that the service / something which is affected should be moved up in the hierarchy or refactored so I don't see this as a bad thing.

Also I guess circular dependencies happen more because of the way the functional

[2018-04-10 00:55] tomastrajan commented on #132
The latest release was about increasing all Angular related versions to 6.0.0-rc or similar to be able to use new Angular CLI project layout (with new `angular.json` config file), new RxJS version with pipeable operators by default (and a new way of importing operators) and so on.

Does this answer your question?

[2018-04-10 01:04] #93 closed

[2018-04-10 03:29] hhubik commented on #133
@tomastrajan  search for `barrel` in [Angular Changelog](https://angular.io/guide/change-log)

[2018-04-10 06:02] shootermv commented on #132
Sorry. Saw now at cli changelog that they changed the versions to be like
the angular ones... I was wrong. Sorry again

On Tue, Apr 10, 2018, 3:55 AM Tomas Trajan <notifications@github.com> wrote:

[2018-04-11 05:28] tomastrajan commented on #132
No worries mate, thank for your contribution and interest!

[2018-04-11 05:28] #132 closed

[2018-04-11 05:30] tomastrajan commented on #71
Hmm, the way this usualy work is to create a `fork` of the repository, then create branch with fix and push it to the fork. Github then offers creation of pull request automatically when checking branch on the web.
Hope that helps :)

[2018-04-12 10:11] tomastrajan opened #136 "Fix stock market example [Good for first time contributors]"
The [stock market example](https://tomastrajan.github.io/angular-ngrx-material-starter#/examples/stock-market) was getting data from google finance API which seems to be discontinued. We have to find another free source of simple stock prices to consume and use it in [stock-market.service.ts](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/src/app/examples/stock-market/sto

[2018-04-12 22:45] tomastrajan commented on #126
Closed by #134 , thanks again @hhubik !

[2018-04-12 22:45] #126 closed

[2018-04-13 01:52] hhubik commented on #126
No problem. Glad to help!

[2018-04-13 08:07] lizhigang858 opened #139 "Blocking at emitting LicenseWebpackPlugin when npm start."
[code]

[2018-04-13 16:09] spairo opened #140 "pug support"
Hi guys, somebody knows how to avaible the pug/jade templating support?

Regards.

[2018-04-23 03:11] tomastrajan commented on #136
Was fixed by #162 by @shootermv, thanks again!

[2018-04-23 03:11] #136 closed

[2018-04-24 03:41] philmerrell opened #173 "Google Analytics Pageview Tracking"
Thanks for the wonderful work on this starter. We have forked it to use as a base at my institution and it has saved us a lot of time.

I noticed that you embedded the Google Analytics tracking code in the starter app, which is great, but due to the nature of single page applications, it is only tracking the initial load of index.html. In order to track each page view you must subscribe to the `Na

[2018-04-24 13:51] tomastrajan commented on #173
Hi @philmerrell !

I am very happy to hear that you could use this starter project in real world app. Is it public? If so would you consider adding link to [BUILD_WITH.md](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/BUILT_WITH.md) ?

The improvement with tracking pages is great! Also refactoring part is more than welcome. It grew over time and to be honest I was a bit

[2018-04-25 00:12] #173 closed

[2018-04-25 00:31] philmerrell commented on #173
I was happy to contribute and I'll look for more opportunities in the future. This is by far my favorite starter!

I work for a public university, and getting things into production takes months typically. When the time comes I'd be happy to add to BUILD_WITH.md.

[2018-04-25 00:36] tomastrajan commented on #173
Looking forward to the merging of the BUILD_WITH.md PR 😉 Thanks again!

[2018-04-29 06:24] tomastrajan opened #177 "Improve / add more unit tests"
Currently repository contains only test stubs generated by Angular CLI (for the corresponding components and services).

These test stubs contains only necessary imports so that the basic `expect(component).toBeTruthy();` style test passes.

We need to improve tests to serve as a example for the users of this repository.

- suggest best test practices
- standardized imports for test related stuff

[2018-04-29 06:34] tomastrajan opened #178 "Improve / add more e2e test"
This repository currently runs single e2e test as a part of it's CI (continuous integration) build on Travis CI. Test can also be executed using `npm run e2e`.

It would be great to provide more e2e test examples for the users of this repository to serve as a great example for how to write their own tests.

- best practices for angular e2e testing ( eg: separate tests and page objects ... )
- more

[2018-05-05 08:31] fealonelei commented on #139
@lizhigang858  Hi, from your name, I guess you are from China, and perhaps, you are using `cnpm install` instead of `npm install`, which cause your issues. Maybe it's cnpm's bug or something. just use `npm install`, issue gone.

[2018-05-08 09:51] railsbug commented on #139
it's real....
i use lantern
and everything is ok

[2018-05-14 04:27] hungcao181 opened #216 "Move shared/common used code into library for multiple projects workspace"
With CLI v6 we now have options to maintain multiple projects in a monospace.
Currently when I add a new project with help of cli v6 into the this starter code base, I could not use any code provided here

[2018-05-14 05:04] tomastrajan commented on #216
This is definitely something worth exploring!

I haven't worked with Angular CLI 6 too much yet. I am aware that `nrwl/nx` has support for monorepos and generation of libraries. Don't know about how much support is available when using Angular CLI 6 only without the help of 3rd party libraries.

I would definitely be interested in extracting `shared` as a library if it is supported. But I am worri

[2018-05-24 11:53] tomastrajan commented on #71
Hey @rurziceanu  !

Could you please share fix at least here in comment?

Thank you!

[2018-05-25 16:15] christophechevalier opened #220 "Improve typescript imports"
Hi @tomastrajan !

Doesn't work for me ... any solution ? Thanks

![image](https://user-images.githubusercontent.com/7148846/40554824-42b5a7a6-6047-11e8-833d-670469f43680.png)

https://github.com/tomastrajan/angular-ngrx-material-starter/blob/5e9106ad3ddb823de01e682b21b86af1cdb8a004/src/app/app.module.ts#L5-L6

[2018-05-26 05:13] tomastrajan commented on #220
Are you using VS code ? I guess application will work if you run `npm start` and it is just a editor problem but it would be nice to resolve it for every popular editor!

[2018-05-26 05:41] tomastrajan commented on #133
I have checked the discussion and think that the last comment summarizes it quite nicely...

(emphasis is mine)

Barrels can still be useful for simplification of import / export of a module with a lot of stuff (eg: services) which will be imported by other services / components / modules. The `CoreModule` and it's `index.ts` file are then a great example of a barrel which exposes services which a

[2018-05-26 05:41] #133 closed

[2018-05-26 10:29] christophechevalier commented on #220
Yes, I use VS code. I have tested a multiple solutions like restart app, disable plugins ..
I can show you my configuration (_tsconfig.json_, _angular.json_ ... ) if you think is the problem.

Have a good weekend.

[2018-05-26 11:00] christophechevalier commented on #178
In my app, I use this front-end testing tool :

[2018-05-27 11:06] rurziceanu commented on #71
Hi,
Sorry, I did not had time for this..
But the fix is in the animation definition

export const routerTransition = trigger('routerTransition', [
  transition('* <=> *', [
    query(':enter > *', style({ opacity: 0, position: 'absolute', left: 0, right: 0 }), {
      optional: true
    }),
    query(':enter .' + ANIMATE_ON_ROUTE_ENTER, style({ opacity: '0' }), {
      optional: true
    }),
    s

[2018-05-29 04:46] #71 closed

[2018-05-29 04:48] tomastrajan commented on #71
The stuff from comment unfortunately didn't really work. Partially disabling animation (removing whole page slide-in but still KEEPING the individual element slide-ups) solves this issue.

Preserved animations still look pretty great in IE and Edge.
Chrome / Firefox users can enjoy full experience.

[2018-05-29 04:57] tomastrajan commented on #140
I suppose most user of this repository will want to follow standard `.html` way provided by Angular CLI by default.  As for pug support please have a look at [this article](https://hackernoon.com/using-pug-jade-with-angular-with-cli-5592b7ee24e6).

Cheers!

[2018-05-29 04:57] #140 closed

[2018-05-29 05:00] #139 closed

[2018-05-29 05:01] tomastrajan commented on #139
Added `Troubleshooting` sectiomn to README.md.

[2018-05-31 14:31] netlander opened #221 "Scrollbar Not Working at Top Right Corner of Browser Window"
There is an overlap problem with the toolbar and the scrollbar where it's not possible to click and drag the scrollbar at the top right of the browser window as depicted in the image below.

![scrollbar-problem](https://user-images.githubusercontent.com/4721044/40788237-82865d90-64e7-11e8-91cb-bc5125e56391.png)

[2018-06-03 13:55] mm185 commented on #220
I think I got a similar problem. Got the same error with Atom and VS code. It seems like he does not recognize the path mapping inside tsconfig.json
![image](https://user-images.githubusercontent.com/9643019/40887248-0923d71e-6746-11e8-9fb4-77085dc66289.png)

[2018-06-03 21:53] mm185 commented on #220
I fixed the problem inside the ide, with adding "src/" to paths.
![image](https://user-images.githubusercontent.com/9643019/40891609-f400de84-6788-11e8-8456-1c8b73694c9f.png)
But now it does not work with npm start. Giving me there the same type errors I had in the ide:
![image](https://user-images.githubusercontent.com/9643019/40891613-0c83485c-6789-11e8-9567-3eebc91a6a8a.png)

[2018-06-04 06:17] tomastrajan commented on #220
Hi @mm185 !

Thank you for taking time to try to solve this problem. As you found out, it is in fact problem with the editors.

The original version of the paths in `tsconfig.json` works well with the Typescript compiler during `npm start` or `npm build` for that matter. Maybe it would make sense to open an issue in the VS code Github repository?

Cheers!

[2018-06-04 20:58] mm185 commented on #220
Hey @tomastrajan. I agree, looks like there is a bug in the typescript implementation those editors use. Do you maybe know editors with typescript support that don't cause this error? Only other resolution I can think of would be to use only absolute paths in imports.

[2018-06-06 09:05] christophechevalier commented on #220
Hi @mm185 !
Actually, I'm using this configuration :
tsconfig.json :
[code]
tsconfig.app.json :
[code]
angular.json :
[code]

Can't use relative path too in the rooting module file like :
[code]

current routing module :
[code]

I agree too, looks like there is a bug in the typescript implementation those editors use.
Yeah, may be, we can open an issue here https://github.com/Microsoft/vscode
In t

[2018-06-06 10:23] gauravmakkar opened #222 "ng generate not working"
I'm trying to run angular cli commands like **ng generate component hello** and it changes nothing.

[2018-06-06 14:39] tomastrajan commented on #222
Hi @gauravmakkar !

Could you please provide some error console output or anything else? I just tried it locally and everything worked as expected.

Cheers!

[2018-06-06 14:41] gauravmakkar commented on #222
My bad. I guess the issue was this angular-cli installation. Re-installed it and working fine now.

[2018-06-06 14:41] #222 closed

[2018-06-06 15:48] tomastrajan commented on #222
Happy to hear that you resloved your problem!

[2018-06-08 16:44] singhpramod opened #240 "showing 2 vertical scrollbars when viewing the page in IE 11"
Hi All,

I am seeing 2 vertical scrollbars along with horizontal scrollbar when viewing the page in IE v11.2189

Seems like the horizontal scrollbar is appearing because of the 2 vertical scrollbars taking up some extra space. Everything is working perfectly in Chrome browser though.
![2 vertical scrollbars issue in ie 11](https://user-images.githubusercontent.com/10342098/41170285-39a01e2e-6b11-1

[2018-06-09 06:29] tomastrajan commented on #240
Thank you for reporting the issue! The whole main layout was reworked and it should work now. It will be live on the demo page once the release `v6.3.0` was created and deployed (check current version in the bottom right corner of the page).

[2018-06-09 06:29] tomastrajan commented on #221
Thank you for reporting the issue! The whole main layout was reworked and it should work now. It will be live on the demo page once the release `v6.3.0` was created and deployed (check current version in the bottom right corner of the page).

[2018-06-13 06:48] tomastrajan commented on #177
Closing this issue because it is too generic, will open additional issues (one per component / feature) to better track progress and to introduce ability to close issues with the commit message.

[2018-06-13 06:48] #177 closed

[2018-06-13 06:51] tomastrajan commented on #178
Closing this issue because it is too generic, will open additional issues (one per component / feature) to better track progress and to introduce ability to close issues with the commit message.

[2018-06-13 06:51] #178 closed

[2018-06-13 06:55] tomastrajan opened #243 "Create unit tests for stock-market component."
Create unit test for stock market component that covers its functionality.

Please follow testing pattern introduced in [todos.component.spec.ts](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/src/app/examples/todos/todos.component.spec.ts) or please suggest improvements in the comments.

TESTS (rough idea, please adjust / improve where makes sense):

should show spinner

[2018-06-13 06:59] tomastrajan opened #244 "Create unit tests for settings component"
Create unit test for settings component that covers its functionality.

Please follow testing pattern introduced in [todos.component.spec.ts](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/src/app/examples/todos/todos.component.spec.ts) or please suggest improvements in the comments.

TESTS (rough idea, please add /adjust / improve where makes sense):

should dispatch cha

[2018-06-13 15:46] tomastrajan commented on #131
All contributions are very welcome and appreciated! They can be used as a basis to community effort to improve and enhance!

[2018-06-13 17:19] netlander commented on #221
Actually I have come to the same solution namely resorting to an ugly CSS hack to move the scrollbar below the toolbar. Will take a look at your approach at some point.

[2018-06-25 08:54] Anasteisha1love commented on #35
=*мпрарсрпаррпрапврапааапмп

[2018-06-25 19:30] u480 opened #247 "Got some errors and debugging messages after git clone of this project"
ngrx material starter error output

	after git clone of this project

the project will not be running

here the output of chrome debugging

[DEBUG] action: @ngrx/store/init {payload: undefined, oldState: undefined, newState: {…}}
debug.reducer.ts:6 [DEBUG] action: @ngrx/store/update-reducers {payload: undefined, oldState: {…}, newState: {…}}
debug.reducer.ts:6 [DEBUG] action: @ngrx/effects/init {p

[2018-06-25 23:07] alexkonovalov commented on #243
I’m picking this one up. Expect the PR soon :)

[2018-06-26 04:08] tomastrajan commented on #243
Hi @alexkonovalov !

Very happy to hear that, looking forward to the PR!

ps: feel free to add more if you see some opportunities, I will create more issues for the tests of reducers, effects etc so that there is plenty of opportunity for the community to make the first contribution

[2018-06-26 04:12] tomastrajan commented on #247
Hi @u480 !

Thank you for reporting the issue! It seems to be caused by missing dependency `Could not find HammerJS` which didn't cause major problems before but probably results in errors with new versions of Angular Material.

[2018-06-26 07:13] u480 commented on #247
$ yarn add hammerjs
yarn add v1.7.0
warning ..\package.json: No license field
[1/5] Resolving packages...
[2/5] Fetching packages...
info fsevents@1.2.4: The platform "win32" is incompatible with this module.
info "fsevents@1.2.4" is an optional dependency and failed compatibility check.
Excluding it from installation.
[3/5] Linking dependencies...
warning " > @angular/animations@6.0.0" has incorr

[2018-06-26 08:54] u480 commented on #247
before some problems as above

git pull !!!TODAY!!!
make it s working

[2018-06-26 10:40] tomastrajan commented on #247
Just did fresh `git clone`, `npm install` and `npm run` and it runs without any error. Maybe you have problem with your development environment? Check your version of node and npm, try to update it to latest and maybe it helps.

[2018-06-26 11:41] tomastrajan opened #263 "Create new "form" example"
The starter project contains lazy loaded examples module which currently contains following examples:

* todos
* stock market
* theming
* auth only route

Create new example demonstrating "real life" complex reactive form using a form builder.

* should live in `examples/form` route
* should have dedicated component, reducer (effects if needed)

Form should have following features:

* record to be

[2018-06-26 11:44] tomastrajan opened #264 "Create unit tests for todos reducer"
Create tests for `todos.reducer.ts` in `todos.recuder.spec.ts` file either by following [official ngrx testing guide](https://github.com/ngrx/platform/blob/master/docs/store/testing.md) or feel free to suggest any improvements.

Feel free to check out [Contributors Guide](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/CONTRIBUTING.md) for useful tips and hints that help y

[2018-06-26 11:46] tomastrajan opened #265 "Create unit tests for todos effects"
Create tests for `todos.effects.ts` in `todos.effects.spec.ts` file either by following [official ngrx testing guide](https://github.com/ngrx/platform/blob/master/docs/store/testing.md) or feel free to suggest any improvements.

Try to keep tests as independent as possible (eg minimize importing of various modules in setting up tests)

Feel free to check out [Contributors Guide](https://github.com

[2018-06-26 19:28] alexkonovalov commented on #243
@tomastrajan have you considered utilising the *BDD* approach like in the following snippet:
[code]
? In my opinion it could improve readability and reduce the code doubling for more complex cases. If you don't have any objections, I can try to format my test this way in the PR and we can have a follow-up discussion. Thank you!

[2018-06-27 03:01] tomastrajan commented on #243
Sure, if there are enough cases so that the subdivision makes sense feel free to use it. In the original todos test file it was pretty simple and possible to start from the base setup for every test case.

[2018-06-28 02:36] tomastrajan opened #266 "Create unit tests for stock market reducer"
Create tests for `stock-market.reducer.ts` in `stock-market.reducer.spec.ts` file either by following [official ngrx testing guide](https://github.com/ngrx/platform/blob/master/docs/store/testing.md) or feel free to suggest any improvements.

Feel free to check out [Contributors Guide](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/CONTRIBUTING.md) for useful tips and hin

[2018-06-28 02:38] tomastrajan opened #267 "Create unit tests for stock market effects"
Create tests for `stock-market.effects.ts` in `stock-market.effects.spec.ts` file either by following [official ngrx testing guide](https://github.com/ngrx/platform/blob/master/docs/store/testing.md) or feel free to suggest any improvements.

Try to keep tests as independent as possible (eg minimize importing of various modules in setting up tests)

Feel free to check out [Contributors Guide](http

[2018-06-28 02:41] tomastrajan opened #268 "Create unit tests for stock market service"
Create tests for `stock-market.service.ts` in `stock-market.service.spec.ts` file by following [official Angular testing guide](https://angular.io/guide/testing#testing-http-services) or feel free to suggest improvements!

Feel free to check out [Contributors Guide](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/CONTRIBUTING.md) for useful tips and hints that help you get

[2018-06-28 03:15] tomastrajan opened #269 "Create unit tests for settings reducer"
Create tests for `settings.reducer.ts` in `settings.reducer.spec.ts` file either by following [official ngrx testing guide](https://github.com/ngrx/platform/blob/master/docs/store/testing.md) or feel free to suggest any improvements.

Feel free to check out [Contributors Guide](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/CONTRIBUTING.md) for useful tips and hints that

[2018-06-28 03:16] tomastrajan opened #270 "Create unit tests for settings effects"
Create tests for `settings.effects.ts` in `settings.effects.spec.ts` file either by following [official ngrx testing guide](https://github.com/ngrx/platform/blob/master/docs/store/testing.md) or feel free to suggest any improvements.

Try to keep tests as independent as possible (eg minimize importing of various modules in setting up tests)

Feel free to check out [Contributors Guide](https://gith

[2018-06-28 03:20] tomastrajan opened #271 "Create unit tests for big input component"
Create unit test for `big-input.component.ts` in `big-input.component.spec.ts` that covers its functionality.

Please follow testing pattern introduced in [big-input-action.component.spec.ts](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/src/app/shared/big-input/big-input-action.component.spec.ts) or please suggest improvements in the comments.

Feel free to check out [C

[2018-06-28 15:56] laurencefass opened #276 "cant start stackblitz app"
this stackblitz version is not failing in both chrome and firefox. not sure if you are maintaining but guessing yes.

https://stackblitz.com/edit/angular-ngrx-material-starter

After loading, reports
[code]

click yes....

`unable to find package @app/shared.
`
many thanks

[2018-06-29 00:51] tomastrajan commented on #276
Hi @laurencefass!

This is a know issue with StackBlitz not being able to evaluate `paths` property in `tsconfig.json` which is used to create aliases for module imports.

I made them aware of this issue some months ago but they haven't solved it yet :(

If you want to make it work you can replace all `@app` , `@env` and `@testing` aliases with relative paths.

The relative paths will not be used

[2018-06-30 16:39] tomastrajan commented on #276
@laurencefass happy to help!

[2018-06-30 16:39] #276 closed

[2018-07-02 07:31] tomastrajan commented on #244
Fixed by  PR #246.

[2018-07-02 07:31] #244 closed

[2018-07-10 14:16] Gerrilicious opened #281 "Dialogs not working correctly"
Hey im using your project as template and I noticed it seems kind of hard to show a dialog as done by material angular

I am not sure how to style the dialog, can you help?

Result:
![image](https://user-images.githubusercontent.com/23362230/42515125-4e0d8e60-845b-11e8-8343-e997540b3521.png)

Code:
Clickhandler for opening Dialog;
![image](https://user-images.githubusercontent.com/23362230/4251545

[2018-07-14 03:36] hhubik commented on #271
@tomastrajan  I thought this would be  a good opportunity to write my first Angular unit test. This is what I have come up with.

1.  While writing the test, it occurred to me that we are only testing some basic Angular functionality and a few DOM operations.  Is it really necessary to test such a simple component?
2. If it is, please let me know if you want me to change anything before I create a

[2018-07-14 04:07] hhubik commented on #281
@Gerrilicious perhaps [this Angular Material example](https://material.angular.io/components/dialog/examples) helps?

[2018-07-14 06:12] tomastrajan commented on #271
Yeah, you are right, this component does not do too much. One thing you that you could add is to test adding of a "has-focus" (highlight) css class on the wrapper `<mat-card>` when the input was focused which is actually a custom functionality.

Also we should consider following style introduced in big-input-action component where we only set attributes that are relevant for tests in a template of

[2018-07-15 05:14] hhubik commented on #271
@tomastrajan - Thanks for the suggestions. See the latest version below.

1. Removed `eventData` in `HostComponent`. Using spying on the event handler instead.
2. Added `should respond to focus and blur` test at the end.
3. Using the pattern with the `createHostComponent` function seems like an overkill for this simple test to.  I could be wrong, but it looks like it would require more code that t

[2018-07-15 15:45] hhubik commented on #271
@tomastrajan I know it would be a bit shorter without `eventData`, but I have been bitten by hard-coded strings a few times (maintainability issues) so I try to avoid them.  I will send it in as is.

[2018-07-16 00:53] #271 closed

[2018-07-17 04:00] hhubik commented on #270
I will give this and #269 a try.

[2018-07-17 04:44] tomastrajan commented on #270
@hhubik great! Looking forward to PR / comments ;)

[2018-07-18 03:55] hhubik commented on #270
Hi @tomastrajan - started looking into this and found a bunch of reducer tests that are already in `settings.component.spec.ts`.  Is this not complete?  If so, should I be adding to this spec file or should I create a new file `settings.reducer.spec.ts` in the same directory where `settings.reducer.ts` file is? Thanks.

[2018-07-18 04:52] hhubik commented on #270
... at a high level, is this what we want?

`/settings/settings/settings.component.spec.ts` contain only tests simulating how the `SettingsComponent` would be used from the UI, whereas

`/settings/settings.reducer.spec.ts` would test exhaustively just the reducer functions

Similarly,
`/setting/settings.effects.spec.ts` would focus only on testing the PERSIST action effect?

[2018-07-18 16:32] #264 closed

[2018-07-18 19:54] hhubik commented on #269
Hi @tomastrajan how is this?

`settings.reducer.spec.ts`:

[code]

[2018-07-19 04:03] tomastrajan commented on #269
Hi @hhubik ! Thank you for your contribution. I gave it some thought and it would be better that instead of large comment we stick to the standard git workflow of creating PR as a base for discussion because it enables to create comments on particular lines of code, what do you think? This one is ok but for the future ;)

As for the implementation, pretty ok but let's use available action classes

[2018-07-19 04:54] hhubik commented on #269
@tomastrajan - Thanks for the feedback.  That makes sense.  I have updated the tests per your suggestion and opened a PR.

[2018-07-19 13:35] hhubik commented on #269
Hi @tomastrajan - I followed the `rebase` steps from your message above.  I think it worked. At least I did not see any errors.  However, I don't think the Travis CI build ran after I did `git push -f`.  Let me know if there is anything else I should do.

[2018-07-19 13:43] tomastrajan commented on #269
Hi @hhubik it worked perfectly, there is a single commit in the PR with the most recent comment and [Travis CI build](https://travis-ci.org/tomastrajan/angular-ngrx-material-starter/builds/405808871?utm_source=github_status&utm_medium=notification) did run! You can also see green tick next to updated commit in the bottom of the [PR page](https://github.com/tomastrajan/angular-ngrx-material-starter

[2018-07-19 13:43] #269 closed

[2018-07-19 16:34] azulay7 opened #285 "ngrx entity"
there is no use if the new library @ngrx/entity.
is it in puprpose?

[2018-07-20 05:56] tomastrajan commented on #285
Hi @azulay7 !

Thank you for your feedback!
It was not really on purpose, it was not used because there is no example which implements CRUD functionality so there was no need.

It would make sense to create such an example where we have a list of items which can be opened, edited and saved and use `@ngrx/entity` for it.

I will create issue for it and maybe somebody will contribute implementation.

[2018-07-20 06:09] tomastrajan opened #286 "Create new example that implements CRUD functionality using @ngrx/entity"
Starter project already contains multiple example implementations ( todos, stock market, theming of nested components, ... ),. It would be great to add another example wich implements CRUD (create, read, update, delete) functionality for a collection of entities using `@ngrx/entity`.

It would make sense to implement it by following [official introductory blog post](https://medium.com/ngrx/introdu

[2018-07-21 09:54] adityash5 commented on #220
I was able to solve this by changing the `baseUrl` in `tsconfig.json`. Added `src` in `baseUrl`.
Now it looks like this.
[code]

[2018-07-22 11:17] tomastrajan commented on #220
@adityash5 thank you very much for your contribution! I am just pushing the fix to the master branch.

[2018-07-22 11:18] #220 closed

[2018-07-23 07:47] adityash5 opened #287 "Internationalization (i18n) support (Feature request)"
Its a great starter for angular app but missing Internationalization support. It'll be great addition.

[2018-07-23 08:05] christophechevalier commented on #220
Hi guys ! Last month, I used this configuration :
[code]

and this has worked well since this change.

[2018-07-23 10:11] tomastrajan commented on #287
Fully agreed will have a look into it!

[2018-07-25 16:46] ianfdk opened #288 "FontAwesome usage seems to break mat-*-stepper"
The steppers from MaterialStepperModule are adding a pencil icon to the completed steps. See https://material.angular.io/components/stepper/overview and fill out the first step to see the "1" change into a pencil icon.

The markup added by the component is `<mat-icon class="mat-icon material-icons ng-star-inserted" role="img" aria-hidden="true" style="">create</mat-icon>`.

The `material-icons` cl

[2018-07-25 19:01] tomastrajan commented on #288
Hi @ianfdk !

Thank you very much for a very detailed report of the issue!

The idea behind removing of the Material Icons dependency was to reduce page size and resulting page load time. The choice to go with Font Awesome was influenced by the starter project specific need for brand (social) icons that are used in title page, top toolbar and footer.

Also, I had repeated subjective experience of

[2018-07-26 06:34] #288 closed

[2018-07-31 10:52] #287 closed

[2018-07-31 19:18] hhubik opened #290 "Update ngrx-store-freeze to 0.2.4"
I am getting this with the latest code
[code]
The latest version of `ngrx-store-freeze` is `0.2.4` and eliminates the warning.

[2018-08-01 03:06] #290 closed

[2018-08-01 03:06] tomastrajan commented on #290
Fixed ;) Thank you for reporting!

[2018-08-04 11:46] #243 closed

[2018-08-09 06:12] timdeschryver opened #294 "Todos reducer is impure"
The todos reducer is impure at the moment because an `id` is generated when a todo is added.

[code]

This is against the redux principles, I would suggest to generate the `id`  within the action creator `ActionTodosAdd`.

[2018-08-09 08:30] tomastrajan commented on #294
Hey @timdeschryver great catch thank you! Would you be also interested in submitting a PR?

[2018-08-09 09:35] timdeschryver commented on #294
@tomastrajan I'll let this open and see if someone picks it up first 😄

[2018-08-12 09:38] #270 closed

[2018-08-13 14:04] tomastrajan commented on #294
Fixed in #295

[2018-08-13 14:04] #294 closed

[2018-08-14 20:33] hhubik opened #299 "Lint warning "source is deprecated" in utils.ts line 25"
I am getting the following warning from `ng lint` on my Windows 8.1 development system:

`WARNING: D:/Users/hubert/Documents/Angular2Dev/poltrack/src/testing/utils.ts[25, 10]: source is deprecated: This is an internal implementation detail, do not use.`

Any ideas on how to fix this?

[2018-08-15 06:59] tomastrajan commented on #299
Hi @hhubik thank you for the catch! @timdeschryver any ideas about this what is the plan of ngrx team? Can we keep using this until they provide their own `MockStore` as in that PR you shared before or ?

[2018-08-15 07:15] timdeschryver commented on #299
I tried working around the internal source, but I don't know if it's possible, because NgRx also uses this source in the store (store.ts#L19)[https://github.com/ngrx/platform/blob/master/modules/store/src/store.ts#L19].
I would say put this on hold till we got it fixed in NgRx.

[2018-08-15 13:34] hhubik opened #300 "Change Language spec missing in Settings Reducers test"

[2018-08-15 13:35] hhubik commented on #300
I'll fix that.

[2018-08-15 14:47] hhubik opened #302 "StockMarketComponent async tests time out"
Just opened a PR (#301) not related to `StockMarketComponent` and the Travis CI build failed with these messages:
[code]

I also saw the same thing on my development computer, but only 6 of the `StockMarketComponent` tests failed.

Found this [info on SO](https://stackoverflow.com/questions/22604644/jasmine-async-callback-was-not-invoked-within-timeout-specified-by-jasmine-defa#25273095).

[2018-08-15 14:52] hhubik commented on #302
@alexkonovalov any suggestions?

[2018-08-15 16:01] #300 closed

[2018-08-15 16:06] hhubik commented on #302
@timdeschryver  - I see the Travis build has now passed.  It also works on my local system.  We could either increase (double?) the async call timeout to be safe as suggested in the SO article or we can close this?

[2018-08-15 16:27] timdeschryver commented on #302
I would rather mock out the service in order to not call the API when we're running our unit tests.

[2018-08-15 16:58] hhubik commented on #302
@timdeschryver I agree.  Mocking the service would be the best solution.

[2018-08-16 08:52] timdeschryver commented on #302
I'm closing this issue and will create a new one.

[2018-08-16 08:52] #302 closed

[2018-08-16 08:54] timdeschryver opened #303 "Mock service calls during tests"
We should mock the service layer in our unit tests.
This because some HTTP calls were giving false positives, causing for unreliable tests.

See discussions in #302.

[2018-08-17 05:16] tomastrajan commented on #302
Hi folks @hhubik @timdeschryver !

This sometimes happen because Travis CI free tier probably uses shared resources for many free build so maybe in a peak times build becomes too slow and times out.

[2018-08-17 07:33] tomastrajan opened #304 "Create proper AppState"
Create `AppState` and use it for:
* stores in the app as in `Store<AppState>`
* createState helper in tests
* somewhere else ?

Verify that imports of interfaces across lazy loaded module boundaries don't cause unexpected content in the bundles. Verify with `npm run analyze`.

[2018-08-17 07:34] tomastrajan commented on #304
Hi @timdeschryver , I just finished refactoring of selectors used in examples module so now we can proceed with this, will you have a look ?

[2018-08-17 11:00] timdeschryver commented on #304
@tomastrajan I will 😄

[2018-08-20 16:54] #304 closed

[2018-08-21 11:38] cloudstr21 opened #307 "Footer no longer stick to the bottom when i use ngx-perfect-scrollbar"
Hi there,

I am sorry, missed this part, so I edited the descriptions.
Footer always at the bottom as expected, but when I use ngx-perfect-scrollbar, the footer is no longer stay at the bottom. They raised to the top depending on the size of the content.

app.component.html and app.component.scss still the same. the only changes are I added perfect-scrollbar tag as followed below:

    <perfect-sc

[2018-08-22 06:30] FabienDehopre opened #308 "yarn or npm"
It appears that the repo contains both a `yarn.lock` file and a `package-lock.json` file.
As quoted by yarn:

Which one should we use? Yarn or NPM?

[2018-08-22 07:19] tomastrajan commented on #308
Hi @FabienDehopre !

The default package manager for this repo is `npm`.

The `yarn.lock` file was added by other contributor some time in the past but was not kept in sync and I will remove it.

Everyone is anyway free to use package manager of their choice in their own fork / clone.

[2018-08-22 07:32] tomastrajan commented on #308
Fixed

[2018-08-22 07:32] #308 closed

[2018-08-24 07:30] #303 closed

[2018-08-28 01:59] cloudstr21 opened #315 "stock-market refresh produce error stock undefined."
Hi there,

I founded an issue when i open examples page => stock-market sub page.
How to reproduce the issue?
- open stock market page
- refresh the page
- an error will occurred, it is says "stock undefined" as shown picture below.
![issue ngrx](https://user-images.githubusercontent.com/13480230/44696183-aa182b00-aaa0-11e8-83e4-68c4f556b0f2.png)

Thanks

[2018-08-28 06:02] timdeschryver commented on #315
Seems like you're right, thanks for letting us know!
Do you want to open up a PR with a fix?

[2018-08-28 06:31] tomastrajan commented on #315
@cloudstr21 @timdeschryver  this only happens if navigating / refreshing directly on the `stock-market` url, probably is a race condition with initializing state from local storage / reducer initial state and expecting that state in the `StockMarketComponent` `ngOnInit` method.

[2018-08-28 10:19] cloudstr21 commented on #315
Sure. I will make it as soon as I found the solutions.

[2018-08-28 10:55] timdeschryver commented on #315
Awesome, let us know if we can help in any way possible.

[2018-08-30 05:43] cloudstr21 commented on #315
this is strange, select data from ngrx/store is always undefined after page is refreshing. @timdeschryver
i tried to set timeout, but the result is the same.
`this.store.pipe(select(selectStockMarket))`. selector, effects, etc is fine, and this error doesn't happens in todos component.

[2018-08-30 09:42] timdeschryver commented on #315
The problem lies with the `initStateFromLocalStorage` meta-reducers.
Our state shape looks like the following:
[code]
{
  todos: {…},
  stocks: {…} // this should be stockMarket
}
[code]

[2018-08-30 09:49] timdeschryver commented on #315
To fix this we have two choices:

- rename `stockMarket` to `stocks`
- rename modify `STOCK_MARKET_KEY` in `stock-maerket.effects` to be `EXAMPLES.STOCKMARKET` - but this still won't work because in `LocalStorageService.loadInitialState` it will transform this string to lowercase, making it `stockmarket` instead of `stockMarket`.

[2018-08-30 17:16] timdeschryver commented on #315
I forgot to mention, that I would vote to rename `stockMarket` to `stocks`

[2018-08-30 18:03] ohizkiya commented on #216
Would love to see a similar idea taken a step further and have the entire project be consumable as a framework by other apps, giving them the ability to continue to pull in changes as a updates are made to the starter. (It would morph into a true framework rather than a hard-fork from a starter, which is ideal.) From what I can tell there are still some rough edges around making this happen in Ang

[2018-08-31 06:36] cloudstr21 commented on #315
That's it. you are great @timdeschryver . I just fix it as your suggestions. now it run perfectly in my local. Should i re-commit it?

[2018-08-31 07:45] tomastrajan commented on #315
@timdeschryver @cloudstr21 ah god! Sorry for this, I forgot about the relation between the local storage key and the state key. It was implemented really loooong time a ago... Great catch! We can maybe think about documenting it or reworking it so that the state key is used automatically and doesn't have to be defined twice :)

[2018-08-31 15:29] timdeschryver commented on #315
@cloudstr21 Ofcourse you can re-commit it 👍

@tomastrajan No problem 😄 we could perhaps rework it as you mentioned or we could use [ngrx-local-storage](https://github.com/btroncone/ngrx-store-localstorage), which is a popular library that would do this for you. I haven't used it before tho. We can open up a new issue for this.

[2018-08-31 17:26] hhubik opened #318 "Handle private browser window"
Just tried the app in a Chrome Incognito window.  Not surprisingly, the app state (settings, todos) is not persisted.  Should the app detect that it is running in a private window and either not start or at least warn the user that the state is not getting persisted?

[2018-08-31 17:43] timdeschryver commented on #318
Personally I wouldn't change any of it, I believe this is the default and wanted behavior.

[2018-08-31 17:58] hhubik commented on #318
I know plenty of paranoid people who browse in a private window by default.  It seems a bit odd that if they enter 10 todos and re-start their browser, the todos will not come back. This does not seem like the wanted behavior. Maybe they assumed the todos got saved somewhere on a server.

But I understand this might not be a problem to solve in the starter project.

[2018-08-31 18:00] timdeschryver commented on #318
Yep, I agree.

[2018-08-31 18:27] hhubik commented on #318
The local storage might be unavailable for other reasons besides running in a private window such being over the quota or being disabled.  There is a discussion of this topic [here](https://gist.github.com/paulirish/5558557).

Nevertheless, I am closing this as out-of-scope for the starter project.

[2018-08-31 18:27] #318 closed

[2018-08-31 18:57] hhubik commented on #318
@tomastrajan @timdeschryver  a few more on questions on this.  The fact that the app did not give the slightest indication of the todos not getting stored (or not getting retrieved in the new window) still does not feel completely right to me, even for a starter project.  If the todos were not getting stored, shouldn't the app at least throw an exception?

In a more generic sense, should the proje

[2018-09-02 07:51] timdeschryver commented on #318
We could do this, thoughts @tomastrajan ?

@hhubik Is there a way to detect this? Because your private window will store its todos in its own private localStorage as far as I know, meaning it won't throw an error.

[2018-09-02 09:02] tomastrajan commented on #318
@timdeschryver definitely yes! I was previously thinking about centralized (core) infrastructure for notifications which would go very well hand in hand with this concepts. Please feel free to introduce this functionality!

Also as a side note, I am currently moving and searching for job so it's a bit hectic with less time for the OSS but I guess it should be all back to normal in the beginning of

[2018-09-02 14:57] shootermv opened #319 "Moving to travis and leaving circleci"

[2018-09-02 14:57] #319 closed

[2018-09-02 14:58] shootermv commented on #319
sorry, pasted here by mistake

[2018-09-03 17:16] timdeschryver commented on #318
A HttpInterceptor is indeed very useful to handle http requests, we're using it within our applications at work. The same counts for creating a custom `ErrorHandler`.

We can add it, but I don't know if we'll run into these problems within this starter project. On the other hand if we add it, we also have the error handling side covered.

Do you want to open up a PR for one of these items @hhubik

[2018-09-05 05:47] timdeschryver commented on #318
Yep that would probably be for the best, instead of one PR split it up into multiple small chunks.
You can create the issue, but I was asking if you'd also want to write the code and open a PR.

[2018-09-05 17:47] hhubik opened #321 "Handle Http Service errors in StockMarket example"
Per the discussion in #318 ...

[2018-09-05 18:26] Jeykairis opened #322 "The animation `routeAnimationsElements` looks bad on safari."
Just launch the app on safari to reproduce the issue :
<img width="1280" alt="routeanimationselements_safari" src="https://user-images.githubusercontent.com/10895934/45113113-c293df80-b149-11e8-963d-6c191f00c5c8.png">

[2018-09-05 18:41] timdeschryver commented on #321
Yep, as far I know I think you're right and that this is indeed the only place using `HttpClient`.

[2018-09-05 18:43] timdeschryver commented on #322
If you want you can open up a pull request with a fix, what do you think @Jeykairis ?

[2018-09-05 18:44] tomastrajan commented on #322
@Jeykairis thank you for the report, similar issue was in IE 11 and EDGE so the animation is disabled if such a browser is detected. We could add Safari too, please have a look at [app.component.ts](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/src/app/app.component.ts#L74) it disables page animation for `ie` and `edge`, can you try also with safari?

[2018-09-05 22:42] sarbull opened #324 "Snackbar is not being translated"
1. Filter todos
2. Switch language to not english
3. FIlter todos again

Notice that the snackbar is not translated.

[2018-09-06 06:28] timdeschryver commented on #324
Great catch!
If you want you can open up a PR with a fix, what do yout hink @sarbull ?

[2018-09-06 15:56] #322 closed

[2018-09-14 22:32] aideslucas commented on #307
Hi @cloudstr21 ,
never used perfect-scrollbar myself, and wasnt able to test this myself,
seems to me you need to take the footer out of the perfect scrollbar like this:

[code]

let me know if this helped

[2018-09-15 02:34] cloudstr21 commented on #307
Hi @aideslucas ,
Thank you for your commented. I have tried that one and footer become fixed, so the scrollbar only inside the content.
I also tried to add min-height: 100vh, into class below
 `.content {
      position: relative;
      flex: 1 0 auto;

      min-height: 100vh;
    }`
but the result still not the expected one.

[2018-09-15 08:08] #324 closed

[2018-09-15 08:58] #315 closed

[2018-09-15 09:12] tomastrajan commented on #286
Closed by https://github.com/tomastrajan/angular-ngrx-material-starter/commit/460a94c2c61a0511942946c0781d6da8c8bc9e8c

[2018-09-15 09:12] #286 closed

[2018-09-16 12:05] lau32 commented on #268
I can take this up.

[2018-09-17 21:54] terrystrachan commented on #265
I'd like to take this one as my first ever contribution

[2018-09-18 06:09] timdeschryver commented on #265
Awesome! Feel free to reach out if you need any help.

[2018-09-18 07:29] taleos opened #329 "firebase hosting issues"
deploying the project to firebase hosting all the menus and the menu bar is disabled because of the multilingual nature of the project.
example link here: https://testi18n-c3dab.firebaseapp.com
any trick to make it work properly?
thanks in advance

[2018-09-18 07:54] tomastrajan commented on #329
Sure, you have to adjust prod build script which is adjusted to work with GitHub Pages... The current urls look like `https://testi18n-c3dab.firebaseapp.com/angular-ngrx-material-starter/assets/i18n/en.json` but in your case the real url looks more like `https://testi18n-c3dab.firebaseapp.com/assets/i18n/en.json`

You can adjust build script in `package.json` by removing ` -- --deploy-url /angular

[2018-09-18 08:02] #329 closed

[2018-09-18 08:04] tomastrajan commented on #329
@taleos please check the previous comment, and also I added bullet point into `README.md` "Make it your own" section which explain this for the new users, thank you very much for  your feedback!

[2018-09-18 12:08] terrystrachan commented on #265
thanks @timdeschryver
Created a test similar to settings.effects.spec.ts for todos.effects.ts
Tests pass
CI passes
Going to create a pull request for review

[2018-09-18 14:34] tomastrajan commented on #265
Ah, the commit message referenced the issue but didn't contain keyword like `closes` or `fixes` so I have to close issue manually, anyway @terrystrachan thanks again!

[2018-09-18 14:34] #265 closed

[2018-09-18 20:09] hhubik commented on #321
@timdeschryver  Sorry for the delay.  I am swamped with other work.  I will get to this in a few days.

[2018-09-18 21:11] Jeykairis opened #331 "Use @ngrx-router-store"
It would be great to show how to use @ngrx-router-store.

I'm trying to figure out how to achieve it with the CustomSerializer from the ngrx doc.
The goal could be to get the selected book from the url managing errors.

Do you have other ideas to show advanced use cases or any starting point?

[2018-09-19 03:10] gdmartinez93 opened #332 "Error running a new-project on the example component when uses the State"
Hey I initialized a new project I follow all steps of the installation but when I try running the repository I obtain this output:

`
ERROR in src/app/examples/examples/examples.component.ts(56,13): error TS2345: Argument of type '(source$: Observable<State>) => Observable<SettingsState>' is not assignable to parameter of type 'OperatorFunction<State, SettingsState>'.
  Types of parameters 'source

[2018-09-19 06:01] timdeschryver commented on #321
Hey @hhubik no worries take your time 😄

[2018-09-19 06:29] timdeschryver commented on #332
Hi @gdmartinez93 could you share what you did?
Because I can't reproduce it, I did:

[code]

[2018-09-19 06:34] timdeschryver commented on #331
Great idea, I'm OK with it.

I'm not entirely sure what you mean with

Also with NgRx 6.1 it isn't needed anymore to provide a serialized, this comes baked in with NgRx itself. If needed are still able to provide a custom serializer tho.

[2018-09-19 09:54] tomastrajan opened #333 "Create unit tests for auth actions"
Create tests for [auth.actions.ts](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/src/app/core/auth/auth.actions.ts) in `auth.actions.spec.ts` file by **following already existing tests**, the official Angular testing guide or feel free to suggest improvements!

Feel free to check out [Contributors Guide](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/m

[2018-09-19 09:56] tomastrajan opened #334 "Create unit tests for auth reducer"
Create tests for [auth.reducer.ts](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/src/app/core/auth/auth.reducer.ts) in `auth.reducer.spec.ts` file by **following already existing tests**, the official Angular testing guide or feel free to suggest improvements!

Feel free to check out [Contributors Guide](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/m

[2018-09-19 09:57] tomastrajan opened #335 "Create unit tests for auth effects"
Create tests for [auth.effects.ts](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/src/app/core/auth/auth.effects.ts) in `auth.effects.spec.ts` file by **following already existing tests**, the official Angular testing guide or feel free to suggest improvements!

Feel free to check out [Contributors Guide](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/m

[2018-09-19 09:58] tomastrajan opened #336 "Create unit tests for auth selectors"
Create tests for [auth.seelctors.ts](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/src/app/core/auth/auth.selectors.ts) in `auth.selectors.spec.ts` file by **following already existing tests**, the official Angular testing guide or feel free to suggest improvements!

Feel free to check out [Contributors Guide](https://github.com/tomastrajan/angular-ngrx-material-starter/

[2018-09-19 09:59] tomastrajan opened #337 "Create unit tests for auth-guard service"
Create tests for [auth-guard.service.ts](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/src/app/core/auth/auth-guard.service.ts) in `auth-guard.service.spec.ts` file by **following already existing tests**, the official Angular testing guide or feel free to suggest improvements!

Feel free to check out [Contributors Guide](https://github.com/tomastrajan/angular-ngrx-mater

[2018-09-19 10:06] tomastrajan opened #338 "Create unit tests for settings actions"
Create tests for [settings.actions.ts](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/src/app/settings/settings.actions.ts) in `settings.actions.spec.ts` file by **following already existing tests**, the official Angular testing guide or feel free to suggest improvements!

Feel free to check out [Contributors Guide](https://github.com/tomastrajan/angular-ngrx-material-sta

[2018-09-19 10:07] tomastrajan opened #339 "Create unit tests for books effects"
Create tests for [books.effects.ts](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/src/app/examples/crud/books.effects.ts) in `books.effects.spec.ts` file by **following already existing tests**, the official Angular testing guide or feel free to suggest improvements!

Feel free to check out [Contributors Guide](https://github.com/tomastrajan/angular-ngrx-material-starter

[2018-09-19 17:18] gdmartinez93 commented on #332
Hi @timdeschryver, I'm following exactly the same steps you mentioned. I would like to try the same in another machine. I let you know what's the result of that.

[2018-09-19 18:27] hhubik commented on #321
@timdeschryver  @tomastrajan
Since I am not much of a UI guy, can you suggest an acceptable error notification mechanism for the UI.  Alternatives include:

1. Material snackbar popup similar to what the ToDo example does.
2. A dedicated notification service such as [Angular2-Toaster](https://www.npmjs.com/package/angular2-toaster)
3. A dedicated Error page (Angular component) that would display a

[2018-09-19 19:53] Jeykairis commented on #331
After investigation I found https://github.com/ngrx/platform/issues/1262#issuecomment-421066044 and https://github.com/ngrx/platform/commit/e0059bfca6d130061ae6af8f4fa27e97552b60de .

It looks like the doc was updated but the default serializer is not yet available and I don't find the way to connect the custom one. When should it be released?

Otherwise, by managing errors I wanted to say handle

[2018-09-19 19:59] tomastrajan commented on #332
@gdmartinez93 you can also try `npm ci` instead of `npm install`.

[2018-09-20 02:07] gdmartinez93 commented on #332
@tomastrajan  the command ```npm ci``` not work for me

This is a screenshot to the specific part where happen this error.

![image](https://user-images.githubusercontent.com/11862824/45791479-753a6680-bc4f-11e8-8569-b54119510851.png)

[2018-09-20 06:35] timdeschryver commented on #321
I'm not either 😅
I would say go for option one, with the material snackbar.

[2018-09-20 06:50] timdeschryver commented on #331
The link you provided, adds more router actions to ngrx-store.
I was referring to https://github.com/ngrx/platform/commit/389cd78f3517a7ff32930dc1d8187aa7fca712f8 and I thought this would be available in 6.1 but I might be wrong.

This shouldn't be handled by selectors. A selector is a pure function meaning it should just return an output based on the input. In other words it should to navigate to

[2018-09-20 07:12] timdeschryver commented on #332
I am able to reproduce it, cleared my `node_modules` and removed the `package-lock.json`.
But if I do an install while having the  `package-lock.json` file it compiles.

My guess here is that your installation isn't looking to this file.
Which version of npm and node do you have, you can check this with

[code]

[2018-09-20 08:20] tomastrajan commented on #332
@timdeschryver the versions are

[code]

as written in one of the above comments and the [5.6.0](https://github.com/npm/npm/releases/tag/v5.6.0) seems to support `package-lock.json` which is strange...

[2018-09-20 08:27] #335 closed

[2018-09-20 09:31] chauey opened #345 "Error on refresh of CRUD example page if navigate to Todo/Stocks 1st. Must clear localstorage/data. "Cannot read property 'entities' of undefined at selectEntities""
## Minimal reproduction of the bug with instructions:
- navigate to Examples->Todos
- navigate to CRUD (do not add anything)
- refresh the page, it will have error in devtools console

## Expected behavior:
- expect to have no error when going to that page

## Other information:
Perhaps related to rehydrating app state from localstorage but not having code to handle missing collection data

## I w

[2018-09-20 09:40] tomastrajan commented on #345
@chauey thank you very much for your feedback we will have a look into this!

[2018-09-20 17:29] xinxiang commented on #332
I started with node v8.10.0 and npm 3.5.2; got the same error @gdmartinez93 described.

Upgraded node to v8.12.0 and npm to 6.4.1; npm start still gave me the same error. Deleted node_modules, ran npm install again, and still got the same error. So I deleted the whole project and started all over again. This time it worked.

[2018-09-20 17:34] tomastrajan commented on #332
@xinxiang this is interesting, deleting `node_modules` should be enough to refresh it, thank you for your feedback!

[2018-09-21 07:22] Jeebix opened #347 "Effects and css not fully loaded when navigating"
Hello,

First thanks for this starter kit which is great, but I have a problem : my static-routing.module is configured like this
const routes: Routes = [
    {
        path: 'tombolas',
        component: HomeComponent
    },
    {
        path: 'tombolas/:id',
        component: TombolaDetailComponent
    },
    {
        path: 'tombolas/draw/:id',
        component: TombolaDrawComponent
    }
]

[2018-09-21 08:44] tomastrajan commented on #332
@gdmartinez93 what kind of environment are you sing ? (eg windows cmd, cygwin, wsl, macOS, unix )
Sometimes there could be a miss match between what is available where. Sometimes I had different node / npm version on win compared to what I installed in WSL and that resulted in strange behavior. Anyway maybe this doesn't apply to you, I am just trying to rule out any possibilities.

[2018-09-21 08:49] tomastrajan commented on #347
@Jeebix where do you declare `Tombola*Component` in the `declarations:[]` property?

[2018-09-21 09:01] Jeebix commented on #347
Here is my static-routing.module :
`import { NgModule } from '@angular/core';
import { Routes, RouterModule } from '@angular/router';

import { TombolasListComponent } from '@app/static/tombolas-list/tombolas-list.component';
import { TombolaDetailComponent } from '@app/static/tombola-detail/tombola-detail.component';
import { TombolaDrawComponent } from '@app/static/tombola-draw/tombola-draw.comp

[2018-09-21 14:50] lau32 commented on #267
I'll can also take this one.

[2018-09-21 15:06] gdmartinez93 commented on #332
@tomastrajan, I'm using the console inside Visual Studio Code I think that is the same console of the Unix System. I'm using too NVM for managing the versions of Node, I will try with other versions and let you know the result

[2018-09-21 17:46] timdeschryver commented on #345
The problem here is comes from `initStateFromLocalStorage`.
The example state is getting partially loaded with `{todos: {...}}` and we're overriding the example state with this state from the local storage. Because we don't have a local storage state from our CRUD reducer, this CRUD state just disappears.

To solve this we'll have to spread the example state, instead of overriding the example stat

[2018-09-21 18:24] timdeschryver opened #349 "Memory leak!!!"
Currently there is a memory leak inside the CRUD component.
Because memory leaks aren't really our thing, we would prefer not to have one.

You can watch Kwinten's talk [Keep your memor(ies|y) safe!](https://www.youtube.com/watch?v=OOF2WIFTMaI) from NgTalks 2018 to learn how to track memory leaks and how to solve them.

Leave a comment if you would like to take this issue.

[2018-09-21 20:13] simply10w commented on #349
I created a PR here:

[2018-09-21 20:15] #349 closed

[2018-09-21 20:22] simply10w opened #352 "Using OnPush to improve performance"
## Describe the feature you'd like:

Adding OnPush change detection to all components.

Since we already are utilizing @ngrx/store with rxjs streams and async pipe, we get markForCheck for free in most situations.

By adding on push, only some parts of the application would need to be checked when change detection runs. Currently it runs over the entire tree.

That way we would also enforce good p

[2018-09-21 20:26] timdeschryver commented on #352
Great catch!
I would say go for it 😄

[2018-09-21 20:29] simply10w commented on #352
Great. I'll play around! 😄

[2018-09-21 20:48] tomastrajan commented on #352
Also, if I remember correctly it  should be possible to adjust configuration in `angular.json` so that all components generated using `ng g c` are automatically `OnPush` by default which would make sense in this case ;)

[2018-09-21 20:50] simply10w commented on #352
You are right, there is. They have changed a little the way how it's done, now we need to point to the schematic for components, but that ability is still there.

I'll add that also.

Thanks for the tip. :D

[2018-09-21 20:51] timdeschryver commented on #352
Looking forward to it!

[2018-09-22 21:02] ZackDeRose commented on #131
Has there been any further discussion/thought on this? My initial that is to create a simple Firebase backend for the Todo list. I think though that you probably wouldn't want to open that up (e.g. you'd probably want working auth stuff first). @tomastrajan would you be open to using firebase auth in this project?

[2018-09-22 23:08] tomastrajan commented on #131
@ZackDeRose definitely, auth stuff is extremely basic, basically does nothing just demonstrates auth guard but there is no handling of the auth besides setting a `boolean` flag. Please, feel free to propose solution.

[2018-09-23 09:30] Jeykairis commented on #331
Thank you for the explanations and great articles!
I already saw the video and i'm waitting for ngrx-data! When should it be part of the [ngrx/platform](https://github.com/ngrx/platform) ?

With the 6.1 I got all the router state stored in the state (even if the tag for the default serializer is 6.1...). But I was finally able to register the custom serializer thanks to your commit link.

I open h

[2018-09-23 15:10] timdeschryver commented on #331
I'll take a look this week, thanks in advance for the PR!

[2018-09-25 11:23] 90adityaCode opened #358 "ng serve"
** Angular Live Development Server is listening on localhost:4200, open your browser on http://localhost:4200/ **
 95% emitting LicenseWebpackPlugin

[2018-09-26 04:03] stefanwuthrich commented on #332
I had the same problem, but only when using yarn. changing to "rxjs": "6.2.2" resolved problem

[2018-09-26 16:43] timdeschryver commented on #331
Hey @Jeykairis just wanted to let you know that I haven't taken a look yet, but I haven't forgotten about this. It's just a busy period. I'll get to it this week tho.

[2018-09-26 19:08] Jeykairis commented on #331
Hi @timdeschryver, that's all right. Thanks for letting me know.

[2018-09-27 16:39] timdeschryver commented on #358
Could you elaborate a bit more please?

[2018-09-27 17:06] xinxiang commented on #332
The problem showed again while I was trying to add a module in it. But this time, npm start works and the pages work just fine. Only the error message showed on the terminal and npm test could not proceed.  I don't know exactly which of my actions triggered this problem; however, by downgrading rxjs from 6.3.3 to 6.2.2 as @stefanwuthrich suggested, the error is gone and npm test works as well. Tha

[2018-09-28 20:33] capaneus opened #359 "compile failed with docker"
Hi,
I'm trying to put starter in the docker env recently, but there is very strange compile issue:
`ERROR in src/app/examples/examples/examples.component.ts(57,13): error TS2345: Argument of type '(source$: Observable<State>) => Observable<SettingsState>' is not assignable to parameter of
type 'OperatorFunction<State, SettingsState>'.
  Types of parameters 'source$' and 'source' are incompatible.

[2018-09-28 20:35] capaneus commented on #359
I failed with this step: docker run -it -v /usr/src/app -v /usr/src/app/node_modules -p 4200:4200 --rm myclient

[2018-09-28 21:57] capaneus commented on #359
Hi @tomastrajan
Thanks for the super quick feedback, I tried to remove this line
RUN npm install -g @angular/cli@1.7.1

and rebuilt the image, but seems the crash is still there...
all I did is cloned angular-ngrx-material-starter and added docker files.

[2018-09-28 22:58] tomastrajan commented on #359
@capaneus does it work for you locally without docker ?

[2018-09-29 20:15] capaneus commented on #359
@tomastrajan yes, I compiled with ng serve and production build, both works fine, so it's super strange. my system is windows 10, but that shouldn't affect it...

[2018-09-30 09:52] tomastrajan commented on #359
@capaneus checking the error message, somehow in the docker you get two copies / versions of the `rxjs` stuff which is clashing, hard to say why. Does something exits in the environment already, is the install process duplicating something, hard to say, but that's the hint.

[2018-10-01 06:26] tomastrajan opened #362 "Use NgPlural in Todos component"
## Describe the feature you'd like:
We should use `ngPlural` for description of todos filter based on amount of items

## Other information:
Please check [NgPlural](https://angular.io/api/common/NgPlural) documentation.

We will be replacing
[code]
part of `todos-container.component.html`.

Please use `translate` for all `ngPlural` cases, we should be aiming for `=0`, `=1` and `>1`.

[2018-10-01 11:05] #334 closed

[2018-10-01 12:03] #333 closed

[2018-10-01 12:42] timdeschryver commented on #268
Closed via #344.

[2018-10-01 12:42] #268 closed

[2018-10-01 12:43] timdeschryver commented on #266
Closed via #353.

[2018-10-01 12:43] #266 closed

[2018-10-01 12:43] timdeschryver commented on #263
Closed via #317.

[2018-10-01 12:43] #263 closed

[2018-10-01 14:14] timdeschryver opened #371 "Add Cypress tests for TODO"
Add Cypress tests for the [TODO example](https://tomastrajan.github.io/angular-ngrx-material-starter#/examples/todos).

Leave a comment if you would like to take this issue.

[2018-10-01 14:15] timdeschryver opened #372 "Add Cypress tests for Stocks"
Add Cypress tests for the [Stocks example](https://tomastrajan.github.io/angular-ngrx-material-starter#/examples/stock-market).

Leave a comment if you would like to take this issue.

[2018-10-01 14:15] timdeschryver opened #373 "Add Cypress tests for CRUD"
Add Cypress tests for the [CRUD example](https://tomastrajan.github.io/angular-ngrx-material-starter#/examples/crud).

Leave a comment if you would like to take this issue.

[2018-10-01 14:19] cgpacifico commented on #371
Hi! I'd like to take this issue

[2018-10-01 17:39] vishalsodani commented on #373
I would like to work on this.

[2018-10-01 18:45] timdeschryver commented on #373
Go for it @vishalsodani , thanks!

[2018-10-01 19:08] #339 closed

[2018-10-02 02:14] VitorBarbosa commented on #372
I can take this one 😃

[2018-10-02 04:51] tomastrajan commented on #372
@VitorBarbosa go for it :)

[2018-10-02 04:53] #337 closed

[2018-10-02 06:10] #338 closed

[2018-10-02 13:49] hhubik opened #377 "Implement Notification Service"
Service to provide UI notifications of the following types:
* info
* warn
* error

Per @tomastrajan  suggestion https://github.com/tomastrajan/angular-ngrx-material-starter/pull/360#discussion_r221825600

Should be done after #321 is closed.

[2018-10-02 15:13] tomastrajan commented on #377
@hhubik thank you for creating this!
Extra info: should be created in `CoreModule`.

[2018-10-03 07:47] #336 closed

[2018-10-04 05:27] tomastrajan opened #381 "Use styles in Karma unit tests"
## Describe the feature you'd like:
Styles seem to be injected into karma tests but the components are only partially formatted.
We want karma unit tests to look similar as they would in real application

## Other information:
`angular.json` test `styles` vs karma `files` and `processors` ?

Or maybe this is not necessary at all, thoughts ?

[2018-10-04 10:57] harm-less commented on #359
It happens to me as well even without compiling. I'm going to try to look into the problem now.

![image](https://user-images.githubusercontent.com/6368074/46469866-fad41f80-c7d4-11e8-8ace-cb64277e7966.png)

[2018-10-04 14:17] #373 closed

[2018-10-04 17:34] #362 closed

[2018-10-07 09:10] shootermv opened #385 "It will be good to have a Dockerfile for run the project inside docker container"
## Describe the feature you'd like:
It will be good to have a Dockerfile for run the project inside docker container
Im newbie in docker and devops stuff, so if im right (and dockerfile it is good idea) - i will  be happy to try to do pr

## Other information:

## I would be willing to submit a PR to fix this issue:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] N

[2018-10-07 09:33] tomastrajan commented on #385
@shootermv I also don't have much docker experience but if it is possible just to add a `Dockerfile` which enables users to run it in container while not influencing the base use case of running stuff with npm then I am in favor of such an addition :)

[2018-10-09 04:58] blaueeiner opened #387 "No text from the .json files for the language is displayed in Prod mode"
## Minimal reproduction of the bug with instructions:

 No text from the .json files for the language is displayed in Prod mode

## Expected behavior:

When I start the project in Prod mode with "npm run prod" everything works but on the website there is no text from the .json language files, so I can't see any text from any .json file on the website.

## Other information:

The following error oc

[2018-10-09 05:59] blaueeiner commented on #387
I have solved the problem!!!

In environment.prod.ts the i18nPrefix has to be "", so nothing, because otherwise the path would redirect to a folder, that doesn't exist. It would say, that the language json files are under "./dist/angular-ngrx-material-starter/assets/i18n/*.json", but they aren't :)

[2018-10-09 06:04] tomastrajan commented on #387
@blaueeiner thank you for your feedback!

I guess this has to do with the fact we're using `--deploy-url /angular-ngrx-material-starter/ --base-href /angular-ngrx-material-starter` for deployments to GitHub and forgot to document this in the README.md...

They are related to the property `i18nPrefix: '/angular-ngrx-material-starter'`  in `environment.prod.ts`. You have to adjust it to run prod bui

[2018-10-09 06:09] tomastrajan commented on #387
@blaueeiner happy that you found out so fast, anyway we could improve experience for other users, would you be up to creating a PR with the adjustments?

[2018-10-10 05:37] timdeschryver opened #388 "Making the project accessible"
## Describe the feature you'd like:
We added [pa11y](https://github.com/pa11y/pa11y) to run accessibility checks on the website (https://github.com/tomastrajan/angular-ngrx-material-starter/commit/af32ac5046e812d7ca1338d16b7a20a35336ab04).
To run these checks, use `npm run accessibility` and you'll see a overview of the errors.

![1_urdmmj38kb8haujy4zwiaq](https://user-images.githubusercontent.com

[2018-10-12 16:15] zetsnotdead commented on #267
@lau32 are you taking a stab at this? If you're busy I could give it a shot this weekend :)

[2018-10-12 23:11] tomastrajan commented on #267
@zetsnotdead I guess @lau32 is currently busy because it's a pretty long time since he commented without PR so feel free to submit a PR yourself ;)

[2018-10-13 22:44] zetsnotdead commented on #267
Working on it :) Should have it ready tomorrow.

[2018-10-14 12:05] tomastrajan opened #391 "Remove redundant rules from the tslint.json (because they are handled by prettier)"
## Describe the feature you'd like:
The `tslint` comes with a subset of rules which are made redundant by the use of `prettier`.
Remove / cleanup / enhance `tslint.json` config.

## Other information:

Check out following blog posts for more info:
https://medium.com/@victormejia/setting-up-prettier-in-an-angular-cli-project-2f50c3b9a537
https://medium.com/ngconf/ultimate-prettier-angular-cheatshee

[2018-10-15 19:07] #267 closed

[2018-10-17 08:32] harm-less opened #398 "Stop a redirect to the default route on error"
## Minimal reproduction of the bug with instructions:
Make a critical error on a route you're visiting. For example by not importing a component you're using.

## Expected behavior:
I want to it stay on the same page/route without redirecting back to http://localhost:4200/ or http://localhost:4200/about. It doesn't do this on every error, but even when you are already on a specific page and make a

[2018-10-18 11:11] #391 closed

[2018-10-18 21:29] tomastrajan opened #400 "Double scrollbar on page transition in long pages (regression)"
## Minimal reproduction of the bug with instructions:
Navigate to page with long content like features or about shows secondary inner scrollbar

## Expected behavior:
Single outer scrollbar

![anms-issue](https://user-images.githubusercontent.com/3764868/47185436-ab8e0300-d32d-11e8-8587-e9faafd739d4.png)

[2018-10-20 07:50] #321 closed

[2018-10-20 17:37] GrzegorzStanczyk commented on #400
I have quick fix. I can make PR.

[2018-10-20 18:38] hhubik commented on #377
I'll do this one now.

[2018-10-20 19:36] geromegrignon commented on #388
As the issues are mainly in the app.component, i take them all.

[2018-10-20 19:50] tomastrajan commented on #388
@geromegrignon very appreciated!

[2018-10-20 21:27] hhubik opened #402 "CSS-related errors in FireFox"
Just downloaded the latest version of the starter project and see lots of CSS-related warnings in the console window when running the app in FireFox 62.0.3 (64-bit) on Windows 8.1.  No warnings in Chrome.

[code]

[2018-10-21 13:41] #400 closed

[2018-10-21 15:33] timdeschryver commented on #371
Hi @cgpacifico, just checking if everything is alright or if you need some help.

[2018-10-21 15:33] timdeschryver commented on #372
Hi @VitorBarbosa, just checking if everything is alright or if you need some help.

[2018-10-21 15:49] hhubik commented on #402
Yes, they do. I just tried that.

[2018-10-21 19:18] hhubik commented on #402
Just in case `Internet Explorer 11` (in my case, version 11.0.90 running on Win 8.1) is supposed to be a supported browser, that has the following (different) errors in the console window.  Let me know if I should open a separate issue for this.

[code]

The URL of this request is `https://tomastrajan.github.io/angular-ngrx-material-starter#/about`

[2018-10-21 20:50] VitorBarbosa commented on #372
Hi @timdeschryver , thanks :)
Sorry for the delay, just today I'm getting started on this.
I'll respond if I get stuck on anything.

[2018-10-26 21:08] #377 closed

[2018-10-26 21:11] Sharique-Hasan opened #405 "karma-coverage-istanbul-reporter doesnot show any data for code coverage"
## Minimal reproduction of the bug with instructions:
Clone the repo and run the tests.

## Current behavior:

[code]
Running `ng test --code-coverage` gives out this error:

[code]

## Expected behavior:
Coverage summary should show proper coverage of code.

## Other information:

## I would be willing to submit a PR to fix this issue:

[x] Yes (Assistance is provided if you need help submitting

[2018-10-26 21:18] tomastrajan commented on #405
Yes, this was added recently and doesn't really work, I suppose some version mismatch between CLi, karma and reporter, would you be interested in having a look into this ?

[2018-10-27 10:30] tomastrajan commented on #405
Was fixed by this [commit](https://github.com/tomastrajan/angular-ngrx-material-starter/commit/a03983933f237c39b9e031db2bd851cb8a6f1bd5)

[2018-10-27 10:30] #405 closed

[2018-11-04 09:14] timdeschryver commented on #331
Closed via e66cd8ee8c703f17ac06b66ceff6f8fba8b1018f.

[2018-11-04 09:14] #331 closed

[2018-11-04 09:15] timdeschryver commented on #299
Fyi, in NgRx 7 there will be a `MockStore` - https://github.com/ngrx/platform/blob/master/CHANGELOG.md#features

[2018-11-04 09:17] timdeschryver commented on #345
This is solved.

[2018-11-04 09:17] #345 closed

[2018-11-04 09:25] #358 closed, assigned to nobody

[2018-11-04 10:30] tomastrajan commented on #381
@timdeschryver this was actually fixed already by adjusting `styles` path in `angualr.json` for correct entrypoint to the `styles` file. Currently karma tests get proper fonts and material components also look right there are just no themes which is not a big deal ;) I just forgot to reference issue from the commit message.

[2018-11-04 10:30] #381 closed

[2018-11-04 10:31] tomastrajan commented on #398
@harm-less does this only hapen on lazy routes or ? I am not aware of any specific code in our Exception handler which would lead to such a behaviour...

[2018-11-04 10:32] tomastrajan commented on #299
Soon ! :D

[2018-11-07 19:33] #352 closed

[2018-11-08 13:00] chauey opened #417 "Constant stream of network requests for google analytics and Cypress tests hang and/or type super slow"
## Minimal reproduction of the bug with instructions:
Run the app
`npm start`

Run the cypress tests
`npm run cy:open`
run any test

## Expected behavior:
No constant stream of network requests.
No hanging tests.
Cypress typing into the inputs is not slow (after 5 minutes, has only typed "The Lit" of "The Little Schemer")

## Other information:
Did something change in the code? Or need to configur

[2018-11-08 15:51] timdeschryver commented on #417
I've also noticed this during development today.
I'm expecting this to be the cause of the failing e2e tests with protractor.

[2018-11-09 17:09] timdeschryver commented on #417
Hi @chauey, it should be resolved when you pull the latest changes.
Feel free to re-open if this doesn't fix it.

[2018-11-09 17:09] #417 closed

[2018-11-09 17:33] timdeschryver opened #419 "Write tests for untested reducers, actions and effects"
I refactored some parts in https://github.com/tomastrajan/angular-ngrx-material-starter/pull/418 but forgot to write tests 😅 .
If someone wants to pick this one up feel free to do so, but leave a comment down below.
If no one picks this up during the next weeks, I will create them.

## I would be willing to submit a PR to fix this issue:

[x] Yes (Assistance is provided if you need help submitting

[2018-11-10 00:45] chauey opened #421 "Add Cypress tests for Form"
Add Cypress tests for the [Form example](https://tomastrajan.github.io/angular-ngrx-material-starter#/examples/form).

I would like to work on this.

[2018-11-11 06:08] lau32 commented on #419
I can take this up.

[2018-11-11 08:41] timdeschryver commented on #419
That's great to hear @lau32, thanks!

[2018-11-11 23:37] DinoSourcesRex commented on #385
@tomastrajan
I've created a new `docker-compose` and `dockerfile` that seem production ready to me. It uses a multi-stage `dockerfile` to build the image for, hopefully, a quicker build on dev machines. Another benefit of the multi-stage files is that the final image should be much smaller then the build image as it only includes the vital stuff for serving. It should also let people easily host t

[2018-11-12 06:51] tomastrajan commented on #385
@DinoSourcesRex please feel free to submit a PR :)

[2018-11-12 16:47] DinoSourcesRex opened #426 "Regenerating .babel file."
Hey folks,

I'm new to the project so apologise if I'm asking this in the wrong place (where should I post questions in the future?).

I've not really done translation from angular before so I just want to know what the process for generating the `.babel` files is. I couldn't find anything regarding translations in the docs for the projects.

Just a few things I want to know

1. What are the `.bab

[2018-11-13 13:21] akalitenya opened #427 "prettier does not go deep in folders using "format" scripts"
```yarn "format:write"``` and ```yarn "format:test"``` does not go deep (recursive) on folders
## Minimal reproduction of the bug with instructions:

## Expected behavior:
files should be formatted in folders recursively
## Other information:

solution:
```"format:write": "prettier {src,e2e}/**/*.{ts,json,md,scss} --write",```

should be rewrited with double quotes

```"format:write": "prettier \"

[2018-11-13 14:30] tomastrajan commented on #427
@akalitenya thank you for submitting the issue, I guess it is environment specific as I didn't encounter this problem locally or on Travis CI but we should anyway fix it so that it works for all the users!

[2018-11-14 17:02] #372 closed

[2018-11-14 18:40] DinoSourcesRex commented on #426
I just had a chance to look at this.

So. To answer my own questions.

1. `.babel` files are used by [BabelEdit](https://www.codeandweb.com/babeledit). It is their proprietary for use with their translation browsing app.
2. You "regenerate" them, if that is even an applicable word in this case, by loading them into BabelEdit and making changes to the translations there - then saving them.
3. They

[2018-11-14 18:40] #426 closed

[2018-11-21 13:36] boazgarty opened #432 "After cloning and installing dependencies I don'e styles and translation."
## Minimal reproduction of the bug with instructions:

## Expected behavior:

## Other information:

## I would be willing to submit a PR to fix this issue:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2018-11-22 06:43] daveburr opened #433 "TypeError being thrown in ToDos and Stocks after fresh install"
## Minimal reproduction of the bug with instructions:
After following the steps shown in the project's ReadMe, namely cloning the project, doing npm install, npm start, the app launches just fine in my browser. But when I go to the ToDos and start checking off to do's and unchecking them, after a short delay, I get this error popping up in my Dev Tools Console:
[code]

## Expected behavior:
Expect

[2018-11-25 09:33] #419 closed

[2018-11-26 18:30] daveburr commented on #433
For what it's worth, here's the configuration of my computer when this problem occurred:
angular-ngrx-material-starter: 7.2.0
npm: 6.4.1
node: 8.11.4
Chrome Browser: 70.0.3538.77
MacOS: 10.13.6
I was not able to recreate the problem using Safari 12.0.1, but of course using a different browser creates a separate and independent record of the To Do's.

[2018-11-27 20:27] sreyemnayr opened #434 "Not so much an issue as a request for better understanding..."
I'm trying to get the starter running as-is before modifying to work with my API, primarily Django Rest Framework.
If I run it with ng serve, it works as expected. When I try to build it and run it from within Django, I get some strange behaviors... The examples page gives errors and doesn't really load fully.
![image](https://user-images.githubusercontent.com/8558670/49108745-94a4cf80-f24e-11e8-9

[2018-11-27 21:06] sreyemnayr commented on #434
Somehow I was able to get this functioning by removing the Google Analytics calls (it's blocked by my firewall anyway).
It's very strange that this got it working, however.. Not entirely sure why.

[2018-11-27 21:06] #434 closed

[2018-11-29 03:47] daveburr commented on #433
Hello Tim. Thanks for looking into this. Indeed, after clearing my local storage of the previous content, as you described above, the To Do's and Stocks functionality are both working correctly. I don't see the TypeError being thrown anymore.

OK, so I learned how the To Do's work with Local Storage and also learned more about Google's Dev Tools!  Thank you! I think you can close out this issue.

[2018-12-04 16:31] indiealexh opened #436 "No data on re-navigation"
## Minimal reproduction of the bug with instructions:
Load the application
Navigate to the Stocks page, let it load the data
Navigate to any other page of the application
Navigate to the Stocks page again
The data will not load without a change of the input box

## Expected behavior:
Data should always load on page load

## Other information:

## I would be willing to submit a PR to fix this issue

[2018-12-04 17:01] timdeschryver commented on #436
Hi, thanks for filing the issue @indiealexh !
Would you mind taking a stab at it? Feel free to reach out whenever you want if you're stuck, perhaps we can push you in the right direction.

[2018-12-04 17:40] indiealexh commented on #436
removing "distinctUntilChanged" 'fixes' the issue, but obviously, that is not a solution but a workaround.
Not very confident with NGRX so unsure how best to trigger a load of already loaded data.

[2018-12-05 17:24] timdeschryver commented on #436
You're spot on @indiealexh !
I think we could remove the `distinctUntilChanged`, but we'll also have to change the input.
Now the event is bind to the `keyup` event which will invoke a new call every keystroke, also when we don't change the value but only use the arrows for example. We could use the `input` for this, which will trigger an event only when the value changes.

Thoughts?

[2018-12-06 07:15] tomastrajan commented on #436
@timdeschryver @indiealexh i would keep `keyup` because change sometimes need blur to happen if  I remember correctly, we could just `debounce` and then it shouldn't be a probable.

[2018-12-06 08:50] timdeschryver commented on #436
If I remember correctly, `change` needs blur but `input` doesn't.
But I'm also fine with `debounce`.

[2018-12-08 09:54] cveld opened #437 "Malicious flatmap-stream detected"
## Minimal reproduction of the bug with instructions:
git clone https://github.com/tomastrajan/angular-ngrx-material-starter.git
cd angular-ngrx-material-starter
npm install

## Current behavior:
The virus scanner found a vulnerability in Cypress\Cache\3.1.1\Cypress\resources\app\packages\server\node_modules\flatmap-stream\index.min.js

## Expected behavior:
No vulnerabilities found.

## Other inf

[2018-12-11 02:25] DianPermana opened #439 "Module installation didnt exist after install another module"
Hello, I have tried to install firebase module (https://github.com/angular/angularfire2), and it worked then I closed my application, the firebase module still exists. a problem began to appear when I installed another module, for example I have tried to install the chart.js module (https://github.com/chartjs/Chart.js), and it worked. But the firebase module that didn't exist before (disappeared).

[2018-12-11 21:36] cveld commented on #437
Some additional analysis; cypress@3.1.1 does contain the vulnerability, refer to https://github.com/cypress-io/cypress/issues/2861. They fixed it in 3.1.2 and the latest version is currently 3.1.3. I'll submit a pull request with this specific amendment into package.json.

[2018-12-12 06:43] #437 closed

[2018-12-13 09:36] DianPermana commented on #439
so, I found a bug that this angular-ngrx-material-starter couldn't add (install) another module (just one module).

For example when we installed the chart.js module, then installed angularfire (Firebase) module

Result  : only one module is installed, (only the last one is installed)
Expected : The chart.js module and angularfire module should be exist because I install module chartjs and module

[2018-12-20 08:41] turbod89 opened #442 "Minor typing error"
## Minimal reproduction of the bug with instructions:

On file src/app/settings/settings.effects.ts, line 52, there is
[code]

##Expected behavior:

I think it should be:
[code]

## Other information:

## I would be willing to submit a PR to fix this issue:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[X] No

[2018-12-20 09:18] timdeschryver commented on #442
Hi thanks for opening this issue @turbod89 !
The syntax `60_000` is called a numeric separator, "TypeScript 2.7 brings support for ES Numeric Separators. Numeric literals can now be separated into segments using _." - see https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-7.html for more info.

In short it's make it easier to read, imho.

[2018-12-20 09:18] #442 closed

[2019-01-02 10:05] Taewa commented on #332
I had similar issue which logs `error TS2345`.
Resolved by upgrade `ngrx effects, store, router-store` from 6.1.0 to 6.1.2

[2019-01-03 17:31] zeusmos opened #443 "[Suggestion] flexbox instead bootstrap"
why not use a flexbox instead of a bootstrap?

[2019-01-03 20:40] timdeschryver opened #444 "Upgrade to NgRx 7 and use MockStore"
With the release of NgRx 7, it also introduces a `MockStore`.
I think we should update to NgRx 7 and replace our implementation of `MockStore` with the NgRx 7 `MockStore` store.
The lesser part is that this isn't documented yet, but its signature looks a lot like ours!

For more info, take a look at the PR that introduced `MockStore` - https://github.com/ngrx/platform/pull/1027.

[2019-01-04 15:46] tomastrajan commented on #443
Hi @zeusmos !

As far as I am aware, `bootstrap` is implemented using css `flexbox` in one of its most recent versions. So the main value of bootstrap is that it comes with this pre-made  css classes and utils so that it is easy to create nice grid based layout without writing any custom css.

Using `flexbox` directly would lead to need to re-implement custom grid system right?

[2019-01-07 15:44] zeusmos commented on #443
that is correct, but it's not complicated and since the starter project use material design I was thinking why not all the material related ui, material design icons - I know they have fewer icons but they follow material design guidelines and flexbox all lightweight, so we don't need the other frameworks.

[2019-01-10 03:41] rjain15 commented on #443
I have the exact same question, can we use Angular Flex box instead of bootstrap. I am confused with the direction of Angular/Material/Flexbox, do they want us to move to this stack and away from bootstrap grid. What is the value or creating overlapping frameworks.
Angular Bootstrap Components: (https://ng-bootstrap.github.io/#/home)
Angular Flex Layout (with Flexbox and CSS Grid) (https://github.

[2019-01-10 06:59] tomastrajan commented on #443
@rjain15 I can only speak for myself because I haven't talked about this topic with too many people...

I like to go with Angular Material component framework because it is "native" to the Angular and written in Angular using the Angular CDK. We can use CDK in our projects to develop our components so this will all play nicely together.

As for the grid part, this is pretty independent from the ov

[2019-01-10 21:43] rjain15 opened #445 "Typescript : use namespace as type in typescript"
Not sure if this is based on the typescript version I have, I was getting an error
"Cannot use namespace as a type" in the the constructor of app.component.ts

I changed this based on this stackoverflow suggestion
https://stackoverflow.com/questions/42815932/use-namespace-as-type-in-typescript
and I got it working

[code]

[2019-01-23 10:05] muhammedMoussa opened #446 "Livereload not working"
After clone:
[code]
making changes there is no listing even if i reload the browser, only when close the server and run it again.
then clone another one:
[code]
tried:
[code]
but also not working.

[2019-01-23 10:20] shootermv commented on #446
I think it will be better to have some description here: like - what command are you running when you expect livereload to work?  Thanks

[2019-01-23 10:43] muhammedMoussa commented on #446
updated

[2019-01-23 11:14] shootermv commented on #446
How about run "ng serve"?

[2019-01-23 11:16] muhammedMoussa commented on #446
"ng s" is short hand for "ng serve"

[2019-01-25 08:33] lau32 commented on #444
I could take this up.

[2019-01-25 12:33] tomastrajan commented on #444
Please that would be amazing !

[2019-01-27 08:43] shootermv opened #449 "[Suggestion] add hebrew language support"
## Describe the feature you'd like:
i think, it will be good to add support for hebrew language
## Other information:

## I would be willing to submit a PR to fix this issue:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No
#448

[2019-02-03 18:56] MagnusBrzenk opened #451 "Route animations mess up on iOS Chrome"
## Minimal reproduction of the bug with instructions:
Changing pages on iOS Chrome results in jerky animations.

## Expected behavior:
Smooth animations.

## Other information:

## I would be willing to submit a PR to fix this issue:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[X] No

[2019-02-03 19:46] tomastrajan commented on #451
@MagnusBrzenk thanks for reporting the issue. As a quick workaround , it is possible to disable animations in the settings, and potential in code if you're using it for your own app.

[2019-02-11 05:34] jatin-chauhan opened #453 "Cannot integrate Apollo Angular"
Hi i am trying to integrate Apollo Angular to this project and getting errors. I need help to integrate it, please help me:

I cloned the boilerplate code and run **ng add apollo-angular**  from the installation guide given below--
Apollo Angular installation guide -: https://www.apollographql.com/docs/angular/basics/setup.html#installation

Error screenshot goes below
![image](https://user-images

[2019-02-11 17:01] anthowm commented on #453
Hello, try to follow without Angular Schematics. I try with it and i get same erros but with manual installation it work for me.

[2019-02-11 17:04] anthowm opened #454 "Testing with apollo angular"
I have integrated apollo angular with this project but I have a problem with the testing maybe someone of you can answer it. Sorry for make an issue but I need help.
https://stackoverflow.com/questions/54556471/testing-angular-effect-graphql-apollo-client

[2019-02-12 05:30] jatin-chauhan commented on #453
@anthowm Thanks for replying fast. I tried it without angular schematics and installed each package separately. After installation i injected the imports in App module and then at the time of running the project i get same compilation  errors.

[2019-02-12 07:20] tomastrajan commented on #453
@anthowm @jatin-chauhan errors seems to be  coming from apollo only, maybe you can have a look if you have to add appolo to `types` of tsconfig compiler options? or is there a version mis-match?

[2019-02-12 07:22] tomastrajan commented on #454
@anthowm I see your point but this has literally nothing to do with this repo at all. Wish you good luck and feel free to ping us when you have a solution we can add a link for other users who want to use this together with Apollo.

[2019-02-12 07:22] #454 closed

[2019-02-12 08:57] anthowm commented on #453
I share you my dependencies maybe you don't install the graphql types, remember too add "esnext.asynciterable" in you tsconfig
Dependencies
[code]
TSCONFIG
[code]

[2019-02-12 11:49] jatin-chauhan commented on #453
@anthowm Thanks for the solution. It worked with your mentioned dependencies. Looks like I was missing graphql types. But I also have one more package **apollo-link-ws** . Installing and importing it gives me below error--
ERROR in node_modules/apollo-link-ws/lib/webSocketLink.d.ts(6,19): error TS2709: Cannot use namespace 'ClientOptions' as a type.
node_modules/apollo-link-ws/lib/webSocketLink.d.

[2019-02-12 12:34] jatin-chauhan commented on #453
@anthowm Thanks for all the help,  i got that working.:)

[2019-02-12 13:47] anthowm commented on #453
perfect :)

[2019-02-12 16:48] tomastrajan commented on #453
@anthowm @jatin-chauhan  great! So this is finished then, right ?

[2019-02-13 03:11] felixunivers opened #455 "Browser stalls during development saves"
## Minimal reproduction of the bug with instructions:

## Expected behavior:

## Other information:

## I would be willing to submit a PR to fix this issue:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-02-13 03:35] felixunivers commented on #455
Thank you for the starter - very good project for learning Angular techniques.
While experimenting with my own components I occasionally omit a bug or a typo and that gets the entire application into stall.  In browser debugger the count of errors goes to thousands and the browser stalls. The only way to get out of it is to kill the process. I am assuming this may have something to do with the Red

[2019-02-13 04:41] ramax495 commented on #453
@jatin-chauhan Could you describe in details what did you do to integrate Apollo Angular ? Maybe list of actions you have done.

[2019-02-13 04:54] jatin-chauhan commented on #453
@tomastrajan Yes this is finished. You can close this. :)

[2019-02-13 04:55] jatin-chauhan commented on #453
@ramax495 I followed the tutorial to integrate it-
https://www.apollographql.com/docs/angular/basics/setup.html#installation
I was missing graphql types but adding those fixed the issue.

[2019-02-13 05:28] felixunivers opened #456 "Interpolated properties are not updated in view/template after observable subscription"
## Minimal reproduction of the bug with instructions:

I have a sample WebSocket component that works well outside the 'starter' project.
If I bring the component to the  'starter' project, the properties/variables interpolated with the view/template are not updated as expected after the WebSocket  observable is triggered on new data.

Here are the key parts of the code:

file: websocket.service.t

[2019-02-13 07:33] timdeschryver commented on #456
If you would `console.log` out the incoming changes, do you see them? Or is it only the view that is not updating?

A cause of this could be the change detection, we use `OnPush` because we're NgRx.

[code]

[2019-02-13 07:34] timdeschryver commented on #455
Hi, do you got a reproduction of this? This shouldn't be happening... 🤔

[2019-02-13 08:34] tomastrajan commented on #456
@felixunivers as @timdeschryver  said, setting component properties after async processing will not refresh the component if the component is using `ChangeDetectionStrategy.OnPush`, for such a component it would make sense to remove this and use default change detection strategy.

Another solution would be to inject change detector reference and call `.markForChangeDetection()` every time data arr

[2019-02-14 21:07] felixunivers commented on #455
Sorry, for the dealy. I tried now some errors and compiling on the original 'starter' project and I do not seam to be able to reproduce the behavior there. However, in my project based on the 'starter' where I have made some additions (not too many), I am experiencing the described issues. I tried to isolate it, but my experience with Angular and TS is still rather of a "semi-educated novice" and

[2019-02-14 21:16] felixunivers commented on #456
Would you please provide a piece of code sample (something that may fit the above scenario) on how to properly use the:  ` .markForChangeDetection() `

[2019-02-14 21:16] #456 closed

[2019-02-15 01:07] alexkolt opened #457 "Route transition animation do not work when navigating between lazy loaded modules"
Animation trigger is firing based on relative loaded path("home", "dashboard", etc). Paths for lazy loaded modules are going to be blank "" as the path inside the lazy module is considered, not the one that triggers the lazy module load. When navigating between two lazy loaded modules the trigger doesn't show any difference(from "" to "") and animations are not triggered.

I would suggest refining

[2019-02-19 06:05] jeevasusej commented on #133
Can we use barrels only for interfaces, classes or enums instead of services, directives or components?

[2019-02-21 15:38] tomastrajan commented on #457
@alexkolt thanks for the feedback, this could have slipped us as the starter has only one lazy loaded module so it should be easy to reproduce. Would you be willing to submit a fix for this ?

[2019-02-23 20:09] JosepAlacid commented on #70
Cant' understand why this is closed without any comment or solution.
Sorry if I didn't been able to find the answer.

[2019-02-23 23:51] tomastrajan commented on #70
@JosepAlacid I don't remember in particular but I guess at that time I though it was fixed by that referenced commit, its almost a year ago so I don't remember the details. Is this still an issue? Can you submit a fix?

[2019-02-25 18:36] toddtsic opened #458 "Trouble getting service worker to appear"
Trying to add push notification capability to template (?future feature)

More likely this is my inexperience with service workers, but I cannot get a service worker to appear (chrome inspect | application).

Here are the steps I've taken

I first updated all the packages (ncu -u, npm update, followed by npm install)

then:
`ng add @angular/pwa --project angular-ngrx-material-starter`
`ng build --

[2019-02-25 22:17] toddtsic commented on #458
Update: I have tried something mentioned by Rafael Crescenzi Argentan on https://github.com/angular/angular-cli/issues/8779

He suggests registering the service worker in main.js:
[code]
And it does the trick.  Not sure why, nor if this is a stable solution...

[2019-02-25 22:17] #458 closed

[2019-02-27 19:51] anthowm opened #459 "i18 label is missing"
## Minimal reproduction of the bug with instructions:
A i18 label is missing "anms.settings.general.language.he" you can check it in settings section.
![image](https://user-images.githubusercontent.com/5764698/53518345-21229080-3ad1-11e9-8d1f-1ce37425d07d.png)

## Expected behavior:
Exist the i18 label

## Other information:

## I would be willing to submit a PR to fix this issue:

[ ] Yes (Assist

[2019-02-28 07:21] santoshyadav198613 commented on #387
Hi @tomastrajan ,

Is it still pending, can i take this up.

[2019-02-28 07:23] santoshyadav198613 opened #461 "Adding stackblitz for all examples"
## Describe the feature you'd like:
In all the examples can we give stackblitz so people can easily refer the codes for example.

## Other information:

## I would be willing to submit a PR to fix this issue:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-02-28 08:57] tomastrajan commented on #459
Fixed #460

[2019-02-28 08:57] #459 closed

[2019-02-28 08:57] tomastrajan commented on #387
@santoshyadav198613 yes seems to be the case, feel free to have a look!

[2019-03-06 17:34] ahasall commented on #443
@rjain15,
To add to what @tomastrajan is saying, here is an article I wrote about the subject that you may find useful:
https://www.amadousall.com/the-good-parts-of-bootstrap-4-you-are-missing-in-your-angular-material-projects/

[2019-03-06 18:16] santoshyadav198613 commented on #387
Hi @tomastrajan ,

As this config will be used while deployment, we can not modify prod.ts file, should i add add one more command to run this locally in prod mode, where we can keep i18nPrefix: ''

[2019-03-06 18:21] santoshyadav198613 opened #462 "For getting version from package.json we are exporting entire package.json."
## Describe the feature you'd like:
Do not export entire package.json to get the version. It becomes the part of build,
## Other information:

## I would be willing to submit a PR to fix this issue:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-03-22 16:34] hhubik commented on #271
@tomastrajan Hi Tomas, I have a question for you.  Could you please contact me via email at <my github user name>@pobox.com. Thanks.

[2019-03-26 21:33] gaspo53 opened #463 "Authentication example"
First of all, THANKS A LOT for this huge piece of great work!!!! Honestly, really appreciated.
What I'm suggesting is for you guys to add an Auth form (login), and mostly an example hitting an Oauth2 backend to perform a login.

Thanks

[2019-03-27 07:10] tomastrajan commented on #463
That would be a nice addition, PR maybe ? 😉

[2019-03-27 22:17] GuateDevIO commented on #463
I am working to integrate Firebase Authentication to this project. If interested I can submit a PR once I am done with the revisions and tests.

[2019-03-28 06:34] tomastrajan commented on #463
Hi @GuateDevIO yes that would be great!

[2019-03-31 03:34] felixunivers commented on #216
First of all, THANK YOU for this great project. I have learned a lot from it.
As this project is intended as a "starter" it could be a fantastic base for many projects.
I would picture its structure a bit less monolithic and rather more "library-tic", where inside a single workspace we would have library projects, app projects and test projects. The users would easily incorporate the libraries to

[2019-04-01 09:28] bhumin3i opened #464 "how do i generate new component with effect, reducer store etc automatically"
i want to generate new dashboard component like example structure using CLI with .store,reducer etc.can you please suggest me best way

##generate dashboard component
ng g c dashboard/dashbaord --flat
##generate component
ng g c dashboard/active/components/active-container --flat
##generate NGRX structure
ng g effect dashboard/active/active
ng g a dashboard/active/active --spec
ng g r dashboard/ac

[2019-04-02 11:44] countrdd commented on #463
@GuateDevIO - I would be very interested in this as well.

[2019-04-11 06:24] #464 closed

[2019-04-22 07:21] Handavipul commented on #281
//code for parent component
  constructor(public dialogRef: MatDialogRef<UserProfileComponent>,
  @Inject(MAT_DIALOG_DATA) public data: any) {}

openDialog(): void {
   const dialogRef = this.dialog.open(ComponentName, {
    height: '500px',
    width: '400px',
     data: {UserInfo : 'data to be displayed' }
   });

[2019-04-25 14:29] pstarostka commented on #457
Hi @alexkolt, is there any fix for that? I have the same issue.

[2019-04-25 15:21] alexkolt commented on #457
I can submit a fix. You basically want to use something other than path. I use component name, which works as long as components are not named same in different modules: HomeComponent, AdminHomeComponent, etc.

[2019-04-30 03:44] felixunivers commented on #455
I think I figured out the way to reproduce the issue, so I am re-opening this one for your input. Thank you.
Please see:
[](https://github.com/ngrx/ngrx.github.io/issues/17) https://github.com/ngrx/ngrx.github.io/issues/17

[2019-05-17 14:55] pnguyen535 commented on #221
Hi,

I still have the issue with the latest code. I think the stickyHeader creates issue.

Thanks

<div class="toolbar" [style.position]="(stickyHeader$ | async) ? 'fixed' : 'inherit'" [class.mat-elevation-z4]="(stickyHeader$ | async)">

[2019-05-29 17:46] MagnusBrzenk commented on #451
Thanks @tomastrajan. I ended up doing some research into layout and angular animations and ended up building [my own boilerplate](https://github.com/MagnusBrzenk/ng7-material-boilerplate) that borrows from this repo and [this one](https://github.com/CanKattwinkel/material-2-sticky-footer-mat-sidenav). So if you're having trouble with layout/animations, you might want to check out the simplified ap

[2019-05-29 22:20] selwyntheo opened #466 "App Fails to Start with Schema Validation failure"
After npm install and npm run causes the following error

[2019-06-03 11:35] Wigent commented on #466
I get this after doing 'npm audit fix' as 'npm install' finds vulnerabilities. But not doing the audit fix it runs fine.

[2019-06-04 11:51] Wigent commented on #466
One way to fix this is to edit package.json and change the line to:
"@angular-devkit/build-angular": "^0.13.4"

[2019-06-05 20:54] cvidevelopment commented on #133
b

[2019-06-09 13:23] tomastrajan commented on #466
I am working on update to Angular v8 so there are lot's of fixes coming !

[2019-06-10 07:11] ramax495 commented on #463
Any updates on this topic  ?

[2019-06-11 00:25] GuateDevIO commented on #463
I am migrating my projects to Angular 8 and I believe Tomas is also doing the same with this project. I think it will be better to wait for the upgrade to be done and then I can possibly submit a PR for the Authentication. Also I think its a great moment to introduce Nestjs to this project. I started using it recently and I am very impressed. Due to my new job it may take me some time to get this

[2019-06-11 09:45] laurencefass opened #467 "dependency failure on compilation: node_sass"
**## Minimal reproduction of the bug with instructions:**

bash-4.4# npm start

** Angular Live Development Server is listening on localhost:4200, open your browser on http://localhost:4200/ **
 69% building modules 523/524 modules 1 active ...henticated/authenticated.component.scssBrowserslist: caniuse-lite is outdated. Please run next command `npm update caniuse-lite browserslist`
Date: 2019-06-

[2019-06-12 17:56] ewertonews opened #468 "Architecture Specification"
## Describe the feature you'd like:
It would nice to have a picture/diagram representing the architecture of the template. What are the modules, components and how they interact with each other and so on.  It would help people to better understand the template code.
## Other information:
N/A
## I would be willing to submit a PR to fix this issue:

[ ] Yes (Assistance is provided if you need help s

[2019-06-13 21:44] dvaldivia commented on #443
if you like the native angular implementation then `angular-flexlayout` makes sense imo.

[2019-06-18 18:50] jcox86 commented on #468
@ewertonews Have you tried running and exploring though [Compodoc](https://compodoc.app/) against this project?  This project has a dev dependency on it.  Compodoc works on many Angular projects for what you are describing.

[2019-06-21 00:58] craigchandler opened #471 "websocket-driver version 0.7.2 has been deleted, breaking npm install process"
## Minimal reproduction of the bug with instructions:
websocket-driver version 0.7.2 has been deleted, the current package setup will not install
I manually edited package-lock.json to get it going, i'm sure there is a better way

## Expected behavior:
npm install should run cleanly

## Other information:

Here's the edit i made to package-lock.json

"websocket-driver": {
      "version": "0.7.3",

[2019-06-21 06:55] IssaGithub commented on #471
Habe the same problem :-)

[2019-06-22 00:18] mingoal commented on #471
delete `package-lock.json` then `npm install` works for me

[2019-06-24 16:18] klauvi commented on #467
This is most likely a node version issue. If you are using node version 11 or 12 you need to use version 10.x instead.

[2019-06-24 20:33] tomastrajan commented on #467
@laurencefass & @klauvi  the project was updated to Angular 8, does this behavior still persist ?

[2019-06-24 20:33] #471 closed

[2019-06-24 20:36] tomastrajan commented on #468
@ewertonews @jcox86 the compodoc was removed as I think it is best to keep starter as lean as possible, besides that it's a great advice and feel free to add it when you use it on your own, maybe we can add note in readme.

I just wanted to reduce complexity of the starter because it became very bloated over the years!

[2019-06-24 20:36] #468 closed

[2019-06-24 20:36] tomastrajan commented on #451
Thanks for sharing!

[2019-06-24 20:36] #451 closed

[2019-06-25 07:30] tomastrajan commented on #307
I hope you could find the solution! This is a 3rd party lib specific problem.

[2019-06-25 07:30] #307 closed

[2019-06-25 07:31] tomastrajan commented on #131
This is out of scope for the starter. (Old issue cleanup)

[2019-06-25 07:31] #131 closed

[2019-06-25 07:32] tomastrajan commented on #216
There are no plans to do this currently. (Old issue cleanup)

[2019-06-25 07:32] #216 closed

[2019-06-25 07:32] tomastrajan commented on #281
Hope you could find solution to your problem. (Old issue cleanup)

[2019-06-25 07:32] #281 closed

[2019-06-25 07:33] tomastrajan commented on #299
This was solved by the migration to Angular / NgRx 8 and refactoring tests to use ngrx `MockStore`.

[2019-06-25 07:33] #299 closed

[2019-06-25 07:33] #385 closed

[2019-06-25 07:33] #359 closed

[2019-06-25 07:34] tomastrajan commented on #332
This is outdated as project was migrated to Angular / NgRx 8. (old issue cleanup)

[2019-06-25 07:34] #332 closed

[2019-06-25 07:35] tomastrajan commented on #466
Angular 8 migration was released so this is outdated, please open new issue if the behavior persists! (Old issue cleanup)

[2019-06-25 07:35] #466 closed

[2019-06-25 07:35] tomastrajan commented on #462
@santoshyadav198613  any ideas on how to improve the current solution ?

[2019-06-25 07:36] tomastrajan commented on #427
Hope you found solution for your issue, this might be outdated as project went through major Angular 8 update. (Old issue cleanup)

[2019-06-25 07:36] #427 closed

[2019-06-25 07:37] tomastrajan commented on #432
Project went through major update to Angular 8, please open new issue if the behavior persists (Old issue cleanup)

[2019-06-25 07:37] #432 closed

[2019-06-25 07:38] tomastrajan commented on #436
Project went through major update to Angular 8, please open new issue if the behavior persists. ( Old issue cleanup)

[2019-06-25 07:38] #436 closed

[2019-06-25 07:38] santoshyadav198613 commented on #462
Hi @tomastrajan ,
I will raise a PR sorry I forgot to do this.

I am traveling now, will raise in this weekend.

[2019-06-25 07:38] tomastrajan commented on #439
Project went through major update to Angular 8, please open new issue if the behavior persists. ( Old issue cleanup)

[2019-06-25 07:38] #439 closed

[2019-06-25 07:39] tomastrajan commented on #455
Project went through major update to Angular 8, please open new issue if the behavior persists. ( Old issue cleanup)

[2019-06-25 07:39] #455 closed

[2019-06-25 07:39] tomastrajan commented on #446
Project went through major update to Angular 8, please open new issue if the behavior persists. ( Old issue cleanup)

[2019-06-25 07:39] #446 closed

[2019-06-25 07:40] tomastrajan commented on #453
Solution was found. ( Old issue cleanup )

[2019-06-25 07:40] #453 closed

[2019-06-25 07:41] tomastrajan commented on #443
This starter is and will use bootstrap grid for responsive layout in the foreseeable future. ( Old issue cleanup )

[2019-06-25 07:41] #443 closed

[2019-06-25 07:42] tomastrajan commented on #444
This was solved by the Angular 8 migration.

[2019-06-25 07:42] #444 closed

[2019-06-25 07:45] tomastrajan commented on #463
@GuateDevIO the Angular 8 migration is finished, an richer auth example would be nice but would prefer to keep it simple and NOT introduce `nestjs` ( even though I am a big fan! ) to keep both the starter and the deployment process simple. Current deployment to github pages would not be enough for node backend.

Anyway a nice login page with either simulated login or against some free API would be

[2019-06-25 07:45] tomastrajan commented on #457
Project went through major update to Angular 8, please open new issue if the behavior persists. ( Old issue cleanup)

[2019-06-25 07:45] #457 closed

[2019-06-25 07:46] tomastrajan commented on #445
Project went through major update to Angular 8, please open new issue if the behavior persists. ( Old issue cleanup)

[2019-06-25 07:46] #445 closed

[2019-06-25 07:47] tomastrajan commented on #461
I tried to run repo through the stackblitz but it doesn't work and there are no helpful errors ? Could somebody investigate?

[2019-06-25 07:47] tomastrajan commented on #462
@santoshyadav198613 no worries ;) and than you!

[2019-06-25 07:47] tomastrajan commented on #388
Was fixed

[2019-06-25 07:47] #388 closed

[2019-06-25 07:47] tomastrajan commented on #398
Project went through major update to Angular 8, please open new issue if the behavior persists. ( Old issue cleanup)

[2019-06-25 07:47] #398 closed

[2019-06-25 07:48] tomastrajan commented on #402
Project went through major update to Angular 8, please open new issue if the behavior persists. ( Old issue cleanup)

[2019-06-25 07:48] #402 closed

[2019-06-25 07:50] tomastrajan commented on #387
Project went through major update to Angular 8, please open new issue if the behavior persists. ( Old issue cleanup)

[2019-06-25 07:50] #387 closed

[2019-06-25 07:50] tomastrajan commented on #347
Project went through major update to Angular 8, please open new issue if the behavior persists. ( Old issue cleanup)

[2019-06-25 07:50] #347 closed

[2019-06-26 09:42] klauvi commented on #467
@tomastrajan @laurencefass Tried this just now using node v12.0.0. Works for me.

I did however get an error when running npm install:
npm ERR! 404 Not Found - GET https://registry.npmjs.org/websocket-driver/-/websocket-driver-0.7.2.tgz

Checked the package info and noticed they have versions 0.7.1 and 0.7.3 but version 0.7.2 doesn't have a tarball available. Tried yarn install and that worked fin

[2019-06-27 17:50] timdeschryver opened #472 "Use the NgRx 8 `create` factory functions"
## Describe the feature you'd like:

The [release of NgRx 8](https://medium.com/ngrx/announcing-ngrx-version-8-ngrx-data-create-functions-runtime-checks-and-mock-selectors-a44fac112627) gave us a way to define actions and reducers in a less verbose way with `createAction` and `createReducer`. I would like to see this project to use these functions and the new `createEffect`.

## Other information:

[2019-07-01 11:42] tomastrajan commented on #472
Also, here is a great blog post detailing how to do it in practice ! https://offering.solutions/blog/articles/2019/07/01/updating-your-angular-app-to-ngrx-8/

[2019-07-01 12:39] geromegrignon commented on #472
I'll work on CRUD part tonight.

[2019-07-01 15:00] tomastrajan commented on #472
@geromegrigon great, thanks ! 🔥

[2019-07-01 16:46] timdeschryver commented on #472
@evgenyfedorenko do you want to pick one up? Please don't feel obligated

[2019-07-01 16:54] evgenyfedorenko commented on #472
@timdeschryver a bit slammed at the moment with other stuff. I will certainly consider doing it later.

[2019-07-01 16:56] timdeschryver commented on #472
Sure, feel free to check in at any point 🙂

[2019-07-02 16:54] santoshyadav198613 commented on #472
Hi @timdeschryver ,
I can take few, let me know which part i can work on.

[2019-07-02 17:01] timdeschryver commented on #472
I was just about to pick up `Auth` myself, feel free to claim your own @santoshyadav198613

[2019-07-02 17:06] santoshyadav198613 commented on #472
Cool @timdeschryver , working on one very old issue, as soon as it is done, will pickup Todos.

[2019-07-02 18:01] santoshyadav198613 commented on #462
Hi @tomastrajan ,
Check if the approach is fine, i am writing only the packages required to a version.json and than using it, so we can avoid exporting entire package.json

[2019-07-03 06:51] santoshyadav198613 commented on #472
I am taking Form next.

[2019-07-03 07:56] harm-less opened #476 "Cypress no longer supported?"
It's not really a bug nor a feature, but I was wondering why Cypress is no longer part of the project as it's not stated in the changelog or any other place I could find?
My main suspicion is that `ng e2e` is the native Angular test method, is that correct?

[2019-07-03 14:36] tomastrajan commented on #476
Hi @harm-less ! Yes, I removed cypress as a part of big refactoring and move to Angular 8. The reason for that was that over the years project accumulated quite a lot of bloat which kinda defeats the purpose of being starter which should be easy to navigate and understand.

Compared to that native `ng e2e` and protractor is part of every project generated by Angular CLI out of the box so we can as

[2019-07-03 14:36] #476 closed

[2019-07-03 14:38] tomastrajan commented on #472
@timdeschryver  this is coming together in a very nice speed ! Amazing community work!

[2019-07-03 14:50] geromegrignon commented on #472
@abedzantout thanks for your contribution but for furthers contributions you should communicate about your contribution to avoid people working both on the same part.
@santoshyadav198613 : Form part has been merged fyi.

[2019-07-03 15:11] santoshyadav198613 commented on #472
Cool @geromegrignon , in that case taking settings.

[2019-07-03 15:58] abedzantout commented on #472
@geronegrignon i’ll Be working on updating the settings also. Should be done soon

[2019-07-03 16:07] santoshyadav198613 commented on #472
Oops i was already done with actions and effects, never mind please update before you start working to avoid rework.

Sure push the changes i will take care of test cases.

[2019-07-03 20:07] abedzantout commented on #472
@santoshyadav198613 Please check PR

[2019-07-11 13:29] mzane42 opened #479 "How can i make my own project without breaking new updates"
Hi,
First of all thanks for this boilerplate, i found it very helpful to start robust new project in Angular, i have a few questions for you guys in good practices using boilerplate:
- Is it good way to migrate the angular-ngrx-material-starter sources to a root directory and delete the projects directory
- How can i benefit the new updates and continue on my own project at the same time

[2019-07-11 14:02] tomastrajan commented on #479
@mzane42 thanks for kind words!

Subjectively I am in favor of `projects/` dir as Angular CLI supports multiple projects in a monorepo style and you can have stuff like server / utils / shared lib / whatever... The const for it is not too much ( a bit longer path ).

Then again, it is possible to move everything to `/src` but you will have to adjust some paths in `package.json` and `angular.json`.

[2019-07-11 14:40] mzane42 commented on #479
@tomastrajan Thanks for your fast and useful answer !
Wish to contribute soon in this project :)

[2019-07-11 14:41] #479 closed

[2019-07-15 06:22] Razgort opened #480 "Pwa Ready solution ?"
Hello guys,

I'm contacting you there because i love your concepts and your architecture, i just have one question : Is your solution compatible with angular/pwa package ? Is there a branch with a pwa ready state ?

Thanks in advance,
Best regards,
A.MOULAY

[2019-07-15 07:10] tomastrajan commented on #480
Hi @Razgort ! No this doesnt have PWA support, you might try to do `ng add @angular/pwa --project angular-ngrx-material-starter` :)

[2019-07-16 18:38] Flignats commented on #480
Hi @Razgort - My app is using the ngrx material starter and is a PWA listed in the Google Play Store. Did you have a specific question?

[2019-07-16 20:13] timdeschryver commented on #472
It seems like we have everything covered, thanks for your help! 🙌

[2019-07-16 20:13] #472 closed

[2019-07-17 05:51] tomastrajan commented on #472
Thanks for the epic contributions peeps ! 👍

[2019-07-17 07:24] tomastrajan commented on #480
@Flignats maybe you can also add link to app store to the BUILT_WITH.md ? as an pwa example ?

[2019-07-19 01:09] kasparov112000 commented on #463
Tomas, and every else, thank you!!!!!!! I almost have the auth for graphql done for my project...should I submit a PR? Maybe as a feature

[2019-07-19 07:57] tomastrajan commented on #463
With auth it is complicated, you usually need some kind of server right ?

This starer is deployed to GH pages so there is no possibility of having backend, so it is hard to imagine how to make this work frontend only so that when people clone this project then it just works as expected... ideas?

[2019-07-22 18:25] Bielik20 opened #482 "Animations and Smart Components"
## Minimal reproduction of the bug with instructions:

Animations do not work with smart components.

### Example:

**Smart Component**
[code]

**Dumb Component**
[code]

When using dumb component as a "head"/"navigation" component it all works as expected.

## Expected behavior:

Animations should work with smart components.

## Other information:

I am not really sure how to approach it. The pro

[2019-07-23 00:14] dvaldivia commented on #482
I've experienced the same, seems like the animation expects a single `div` as the first element of the component

[2019-07-23 11:03] tomastrajan commented on #482
@Bielik20  @dvaldivia  thanks for reporting this will have a look but also feel free to solve it and submit a PR, would be very appreciated!

[2019-07-26 01:18] kasparov112000 commented on #463
How about a heroku version?

[2019-07-31 17:02] duard opened #484 "Monorepo apps sharing libraries"
## Describe the feature you'd like:
More than one app, sharing libraries

## Other information:
Use of some lib-shared and others libraries that can be shared buy 2 or more apps in the same project.

**Routes linking components inside the libraries.**

## I would be willing to submit a PR to fix this issue:
[ ] No (may be in the future)

[2019-08-02 03:57] hongtat88 commented on #461
Hi Tomas, @Teokk31 and I would like to help to investigate.

[2019-08-09 17:04] twindual commented on #463
Using Google Firebase Auth would be a good solution to this issue, should be no trouble deploying to GH.

One still needs to configure the Firebase project however.

[2019-08-15 11:27] cichy380 opened #486 "Toolbar with hidden padding"
`<mat-toolbar>` component included `.mat-toolbar-row` element with important horizontal padding (16px), but now it is hidden behind the scroll. It causes that in toolbar elements on the right are very close browser window :/

preview:
![Image of Yaktocat](https://i.ibb.co/869273c/toolbar-bug.png)

[2019-08-15 11:34] cichy380 commented on #486
this problem is perfect fixed on [material angular doc](https://material.angular.io/guide/typography) website where toolbar is above content with scroll:

![Image of Yaktocat](https://i.ibb.co/VJLHwfy/ma-toolbar.png)

[2019-08-15 15:44] tomastrajan commented on #486
@cichy380 looks good, could you make this work ?

[2019-08-15 15:57] Zuiago commented on #486
Hi Tomas and Marcin

I'll try this weekend if no one speaks!

On Thu, Aug 15, 2019 at 12:44 PM Tomas Trajan <notifications@github.com>
wrote:

[2019-09-04 15:53] leekhai18 commented on #486
![image](https://user-images.githubusercontent.com/26641870/64270954-a4cca680-cf66-11e9-9dd6-266e23e8373b.png)

Look like this?

[2019-09-09 08:33] aoighost opened #488 "Problem with adding fontawesome icons"
I know this is probably my fault but I need to ask anyway. I'm trying to add a button, "cases" to the dropdown where logout goes when authed. I try to add an icon but while the space is placed for it, no icon, in this case the fontawesome folder icon, shows up. Does anyone have any info on why this is happening and how to fix it?

`
            <button mat-menu-item (click)="onLogoutClick()">

[2019-09-09 08:45] tomastrajan commented on #488
Hi @aoighost !

Did you also add your icon into [here](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/projects/angular-ngrx-material-starter/src/app/shared/shared.module.ts) ?

[2019-09-11 23:46] aoighost commented on #488
No I didn't, thanks for pointing that out.

[2019-09-11 23:46] #488 closed

[2019-09-12 01:43] aoighost opened #489 "How do i18n json files get read for a custom renamed examples component"
So I'm trying to create a new component based on examples called "workspace". In workspace.module (renamed from examples) I added workspace instead of examples as the path, and copy pasted the folder as workspace. When I try to use the new tabs though, the tabs show as the i18n names rather than the translated/proper captions. There has to be something I'm missing. Any suggestions?

export functio

[2019-09-12 07:42] tomastrajan commented on #489
Pfuu, hard to say like this, must be something missing, wish you good luck with the hunt!

[2019-09-14 10:43] khasanovrs opened #490 "After "npm i" found 5 high severity vulnerabilities"
added 1335 packages from 1147 contributors and audited 21376 packages in 34.032s
found 5 high severity vulnerabilities
  run `npm audit fix` to fix them, or `npm audit` for details

[2019-09-15 08:01] tomastrajan commented on #490
Would be nice to bump relevant dependencies so that this is fixed :)

[2019-09-15 08:07] khasanovrs commented on #490
$ npm audit

                       === npm audit security report ===

# Run  npm install --save-dev @commitlint/cli@8.1.0  to resolve 5 vulnerabilities

[2019-09-24 03:27] wrannet opened #491 "Message"
Hi tomastrajan, I'm sure you want to keep this repo public, but if you have any interest in a paid version down the road I'd love to have it on [SugarKubes](https://sugarkubes)!

[2019-09-24 05:57] tomastrajan commented on #491
@wrannet thank you for the info :)

[2019-09-24 05:57] #491 closed

[2019-10-05 15:09] TarasCZ opened #492 "False-positive unit tests of observables"
Hello, I found that most of your unit tests that tests observable are false-positive, meaning that these tests will pass even when they are supposed to fail.

## Minimal reproduction of the bug with instructions:
just change behavior of effect or put one false-positive except (except(false).toBeTruthy())  into the subscribe method and test will still pass

## Expected behavior:

Test will fail whe

[2019-10-06 10:24] tomastrajan commented on #492
Hi @TarasCZ  !

Thank you very much for finding this, it would be amazing to make this right! I would go with standard `@rxjs/testing` with `TestScheduler` which enables simple marble testing without real time!

[Docs](https://github.com/ReactiveX/rxjs/blob/master/docs_app/content/guide/testing/marble-testing.md)

Thanks mate!

[2019-10-07 15:17] TarasCZ commented on #492
Hey Tomas :)
I think your solution is bit of an overkill for these simple purposes, since we don't need to test observable behavior over time, also I think is confusing when there is such unnecessary test because ngrx is immutable and shouldn't depend on **_when_** the action is fired.
I think the KISS rule could be applied here, I propose use `BehaviorSubject` and `done` function like this:

![un

[2019-10-10 11:33] tomastrajan commented on #492
@TarasCZ hi Jirka!

Yeah testing of actions is maybe too much ... still having even simple test using `TestScheduler` can be used as a starting point on how to use it for more complex cases.

Timing of action DOES matter for more complex effects with delays, debounces, race and other complex orchestration which are part of real world applications :)

What do you say ?

[2019-10-11 15:08] clembou590 opened #493 "UI issue. Un usable on mobile"
Hello.
I wanted to start a website using this starter that looked perfect on my laptop.
However on my iphone 8. (ios 12.4)
with chrome 69.0.3497.91
(I do not see the issue on safari...)
Look at the picture: the website is not usable...

![iss](https://user-images.githubusercontent.com/10899818/66662294-d9f4a480-ec48-11e9-9ee9-7c7b0cd9ec40.png)

I tried also in incognito mode and got the same resul

[2019-10-13 11:58] tomastrajan commented on #493
Hi @clembou590 !

Thx,  for the feedback ! Interesting, can you please try to disable animations in the settings ? by passing it settings url directly so maybe that page is not too broken and then try to reload main page without settings ?

[2019-10-13 13:55] echol commented on #493
@tomastrajan Unfortunately I encountered this issue too. Just today I uploaded my own project that I was developing using your starter kit, this only happens on iPhone devices. It's such a shame cause this is really a good starter pack. I guess it's got something to do with CSS on iOS devices. Please update here if anyone finds any fix. I'll try and do some research myself.

[2019-10-14 14:31] clembou590 commented on #493
@tomastrajan
I disable the animations in the code in AnimationsService.ts
I wrote "NONE" and it worked...

So now how to solve the issue for real? (disabling the animation is not really a good way to handle this right...)

I also tried on the new iphone Xs of my brother and it has the same problem. I also got it on my ipad-pro...

[2019-10-14 14:34] tomastrajan commented on #493
@clembou590 as a first step you could add logic that disables animations only on affected devices / user agents but yeah I fully agree that a proper solution would be better... Hard to say what is the problem as it mostly works and uses standard angular animations and css, hmm...

[2019-10-25 04:42] gparlakov opened #494 "Environment question"
Hi, why are the versions of the packages part of environment file https://github.com/tomastrajan/angular-ngrx-material-starter/blob/425bdb831fabc70a03ef7f213b815a43994384dc/projects/angular-ngrx-material-starter/src/environments/environment.test.ts#L9

They don't really change between the everyone do they?

[2019-10-26 12:46] tomastrajan commented on #494
Hi @gparlakob!

Yes they do, this is just a workaround to be able to display them in "Features" section of the demo.

Is not perfect but it gets job done, plus people do remove that page when they use starter to implement something of their own. Hope that helps 😉

[2019-10-26 17:37] gparlakov commented on #494
Sorry, I'm a bit confused. I got the part that people use them to display the packages in the "Features" page. What I did not quite get is

Does that mean these values change between test env and dev env? That would mean different package.json files/content right?

Or it means that don't change.

[2019-10-26 21:30] tomastrajan commented on #494
So they do not change, whatever is in those files that is used, there is no automated script to update them as far as I can remember.

[2019-10-29 20:19] darthsitthiander commented on #489
Same thing happened to me and I just renamed the folders examples into tabs

[2019-10-29 21:10] davideas opened #495 "Layout messed up in Edge with Animation query `position: fixed`"
## Minimal reproduction of the bug with instructions:
Just open the demo app in Edge: elements overlaps among them and layout is completely messed up. Cannot test on Safari, please verify yourself.

Line affected:
https://github.com/tomastrajan/angular-ngrx-material-starter/blob/425bdb831fabc70a03ef7f213b815a43994384dc/projects/angular-ngrx-material-starter/src/app/core/animations/route.animations

[2019-10-29 21:15] davideas commented on #493
I see the effect is actually very similar in Edge too, I suspect the cause is the same described in #495 with `position: fixed`. The reason is unknown to me.

[2019-11-02 19:09] clembou590 opened #496 "debug protractor"
Hello. I have spend my entire day trying to launch the protractor test in "debug".
ideally I would like to debug it from visual studio but I did not manage.
I tried both ways from the accepted answer on stackoverflow:
https://stackoverflow.com/questions/54016095/how-to-debug-protractor-in-vs-code
I also looked at this video: https://www.youtube.com/watch?v=6aPfHrSl0Qk&t=1208s

I really lost my day

[2019-11-05 12:11] dyingangel666 commented on #495
Same happens in Safari. Whole layout is broken because there's still an inline style "position: fixed" from the animations ":enter" which is not removed from the DOM. I think it might be also possible that this is a bug with angular animation, because the prop from the animations was not removed from DOM. I haven't found a way to fix this.

[2019-11-05 12:17] dyingangel666 commented on #493
Reason comes from the routeAnimations. There's a prop "position: fixed" which is not removed for Safari and Microsoft Browsers. Why? I don't know, but it might be possible that this is an angular bug. I haven't found a way to fix it and keep the animations work as well.

[2019-11-06 10:22] dyingangel666 commented on #495
Ok i've found a hacky fix, but it looks nicely. The problem is that some layouts, especially dynamic flex layouts are not working with absolute/fixed positioning of inner content for the router outlet. But when angular uses a router animation we have both ng-components injected to the dom the last page which is animating out, and the new one which is animating in. My layout is completely flexed an

[2019-11-07 08:08] tomastrajan commented on #495
@dyingangel666 if it works in most reasonable browsers (eg Chrome, FF, Safari ,... ) then it would be great if you could open a PR so we can fix it for everyone ;)

[2019-11-07 09:26] dyingangel666 commented on #495
PR is open ;) Tested Chrome, Firefox, Safari, Edge and IE11

[2019-11-07 09:27] dyingangel666 commented on #493
PR is open ;) Tested Chrome, Firefox, Safari, Edge and IE11

[2019-11-16 13:55] kasparov112000 commented on #496
Can you elaborate? Trying to debug protractor?  Are aware that protractor is an E2E test suite?  So it is used to test your application

[2019-11-20 08:36] Amitshaale commented on #2
hi

[2019-11-20 09:44] Amitshaale opened #499 "Scrolling issue"
Hi,

On changing route page is showing from bottom it should be from start(Top).

I have tried for fix but still I it's not fixed. can you help please?

my code is here in app.routing.module.ts

RouterModule.forRoot(routes, {
      useHash: false,
      preloadingStrategy: PreloadAllModules,
      initialNavigation: 'enabled',
      scrollPositionRestoration: 'enabled'
    })

[2019-11-21 06:21] tomastrajan commented on #499
Hi @Amitshaale !

Did you try `scrollPositionRestoration: 'top'`

https://angular.io/api/router/ExtraOptions

[2019-11-21 07:21] Amitshaale commented on #499
Hi @tomastrajan

I have tried this solution but it's not working `scrollPositionRestoration: 'top'`

[2019-11-21 07:37] tomastrajan commented on #499
@Amitshaale which browser/ os ?

[2019-11-21 07:52] Amitshaale commented on #499
@tomastrajan Chrome in mac os.

I think with module routing it's not working.

[2019-11-23 08:51] Amitshaale commented on #499
@tomastrajan any solution on this issue?

[2019-11-23 08:52] Amitshaale commented on #499
I have tried with this code but still it's not working...

`const routerOptions: ExtraOptions = {
  useHash: false,
  anchorScrolling: 'enabled',
  scrollPositionRestoration: 'enabled',
  scrollOffset: [0, 0] // [x, y]
};`

[2019-12-16 06:57] Amitshaale commented on #499
@tomastrajan issue still not fixed. how to fix?

[2019-12-17 08:33] Amitshaale opened #501 "Save token with isAuthenticated in AUTH_KEY"
Hi,

I wanted to save token with AUTH_KEY

this.localStorageService.setItem(AUTH_KEY, { isAuthenticated: true, token: authLogin })

in auth.effect.ts how to pass token

[2019-12-23 14:04] hieuntp2 opened #502 "window.scrollTo not working"
## Minimal reproduction of the bug with instructions:
As normal, when we call `window.scrollTop(0,0)`, browser will scroll to top. Or for simple, when scroll bottom of page, open console and call  `window.scrollTop(0,0)`, current page will scroll to top.

## Expected behavior:
Browser will scroll to expected location.

## Other information:

## I would be willing to submit a PR to fix this issue:

[2019-12-23 19:30] shootermv opened #503 "elements view - missing hebrew translation for some keys"
## Minimal reproduction of the bug with instructions:

## Expected behavior:

## Other information:

## I would be willing to submit a PR to fix this issue:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-12-24 04:04] robec1982 opened #505 "trying to run but error comes..."
Hello I'm trying to install your angular-ngrx-material-starter but its impossible due to a recurrent error described as follows by npm installer:

An unhandled exception occurred: Cannot find module './internal/Observable'
Require stack:
- C:\Users\RobertoCarlos\Workspaces\Angular CLI\pubs-registry\node_modules\@angular-devkit\build-angular\node_modules\rxjs\index.js
- C:\Users\RobertoCarlos\Works

[2019-12-24 05:44] #503 closed

[2019-12-24 05:44] tomastrajan commented on #505
Did you install with `npm ci` or `npm install` ?

[2019-12-24 05:46] tomastrajan commented on #502
Hi @hieuntp2 !

This is a browser API, not Angular itself... Which browser did you try ? Also try to remove router config object with scroll behavior and try again ?

https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/projects/angular-ngrx-material-starter/src/app/app-routing.module.ts#L43

[2019-12-24 05:47] tomastrajan commented on #501
In effects you can inject store and retrieve store data as a part of effect stream with `withLatestFrom` rxjs operator :)

[2019-12-24 06:27] bdarge opened #506 "big-input-action custom control color binding issue"
## Minimal reproduction of the bug with instructions:
color selection is not honored by `big-input-action` element.
[code]
## Expected behavior:
I should be able to set different colors for different actions. I think it should be
[code]
## Other information:

## I would be willing to submit a PR to fix this issue:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-12-25 17:42] robec1982 commented on #505
I'm using `npm install`. I'll try with `npm ci`

[2019-12-25 22:29] robec1982 commented on #505
I've tried with `npm ci` and even with `npm ci --save-dev @commitlint/cli@8.1.0` as suggested by @khasanovrs to surpass high vulnerabilities but a new error comes:

[code]

after that my terminal gets into a kind of stand by :(

[2019-12-31 17:09] gmaresca opened #507 "Cleanup: css class default-notification-overlay was not created"
### This is just a cleanup item.

It doesn't look like this class was created to style default notifications even if it is referenced in notification.service.ts panelClass

[code]

[2020-01-02 20:51] tomastrajan commented on #507
Hi @gmaresca !

If I remember correctly this was added for consistency reasons even though it might not have been needed for actual styling...

Hope that helps!

[2020-01-03 20:30] #507 closed

[2020-01-03 20:30] gmaresca commented on #507
OK

[2020-01-07 15:16] marioagarcia opened #508 "Material Icons don't show up"
Hi, when I try to use a simple `mat-icon` element the icon does not show up. Would you tell me what I need to override so that I can use a normal `mat-icon` like this:

`<mat-icon>home</mat-icon>`

The reason why I need to use normal `mat-icons` is that when trying to use the Angular Material's stepper the edit icons that the stepper uses don't show up as they should.

Thank you.

[2020-01-14 00:48] joslash opened #509 "Compiling the code for production"
Hi there! I need to release my project, so I compiled it
`ng build --prod`

But when I copy all files inside dist folder to an http server, it can't load the app unless I comple the project like
`ng build --prod --base-href sistema-institucional`

Then everything works fine, but the url is like
`<server>/sistema-institucional/sistema-institucional#/`

I would rather a url like
`<server>/sistema-in

[2020-01-15 16:10] tomastrajan commented on #509
Hi @joslash !

CHeck out `build` npm scripts in `package.json` file, how they are done, you may need to adjust base-href and output url in multiple  places, by default Angular apps are build for serving from root `/` but I had to change it in the starter to work on github which needs specific context path based on the project name

Good luck :)

[2020-01-16 17:47] joslash commented on #509
Ok, thank you!

[2020-01-16 17:47] #509 closed

[2020-01-23 03:09] parthnayak7448 opened #510 "Login page with token"
Hello @tomastrajan,

Can you please help me by adding Login page and saving token after login in this template?
It will be great help from your end.

Thanks in advance

[2020-01-30 20:25] parthnayak7448 commented on #508
Hey @marioagarcia did you find any solutions to use mat-icon?

[2020-02-03 18:03] parthnayak7448 commented on #463
Any update guys on login page example?

[2020-02-04 08:13] tomastrajan commented on #508
Hi @marioagarcia !

The icons are imported explicitly to reduce bundle size. You have to add it [here](https://github.com/tomastrajan/angular-ngrx-material-starter/blob/master/projects/angular-ngrx-material-starter/src/app/shared/shared.module.ts)

Hope that helps!

[2020-02-07 17:17] dvargas46 opened #511 "Angular testability is unstable due to changeHours effect"
## Minimal reproduction of the bug with instructions:
Load up the site and check Angular's built-in Testability to verify it stabilizes after requests are made. This can be checked via the console in your browser's Dev tools:

`window.getTestabilities().forEach(testability => console.log(testability.isStable()))`

This should display `true` eventually after all angular requests are completed. Howe

[2020-02-10 10:33] netalex commented on #496
looking at stackoverflow link poster linked, i think he mean launching debugger on protractor app's code itself (i.e. the /e2e directory in the repo).

[2020-02-13 06:29] marioagarcia commented on #508
Thanks for the tip. I see that is the case for font-awesome icons but not material icons. I am able to see the material icons after adding this to the index.html file:
[code]

@parthnayak7448, hope this helps!

[2020-02-13 14:34] bigozzi-inspect commented on #221
Hi, the problem is still here :sob:

@netlander, can you share your ugly (but working) CSS hack? :pray:

Thanks you!

[2020-02-13 15:58] bigozzi-inspect commented on #221
**Append to app.component.scss:**

[code]

**Replace in app.componenet.scss:**

[code]
to
[code]

[2020-02-13 17:44] netlander commented on #221
@bigozzi-inspect It seems like an eternity since I worked on this, I wouldn't know where to begin looking at that old hack I used, sorry I can't be of much help (front-end development isn't my primary dev environment).

[2020-02-20 13:00] tomastrajan opened #513 "Use Angular Material TestHarness in tests"
It would be great to migrate tests to use new [Angular Material Component Test Harness](https://material.angular.io/guide/using-component-harnesses) in the unit tests.

The migration should be mostly mechanical as it's basically replacing ad-hoc selectors with the selectors provided by the `@angular/cdk`.

Test can be run in watch mode using `npm run watch`...

[2020-02-20 13:01] tomastrajan commented on #513
Please write comment if you wanna migrate some component tests so that we can prevent duplicate effort

[2020-02-21 06:58] goforu opened #515 "A router path with full screen?"
Hi, I want to have a full screen page with no sidebar toolbar etc.
How can I achieve that?

[2020-02-21 09:40] tomastrajan commented on #515
@goforu I am not sure if I understand ? Can you please provide screenshot?

[2020-02-21 11:55] goforu commented on #515
for say.. like I want to create an isolated login page, I add my path to the router as below.
![image](https://user-images.githubusercontent.com/5236864/75032268-226b7b00-54e3-11ea-94c2-7b4fd3079a2d.png)
It shows in the middle of the page with toolbar, footer and so on because the outlet tag is surrounded by those components. That's obviously not what I want. I want a new blank page when I type ht

[2020-02-22 10:00] mucan commented on #513
Hi! I would like to give it a try.

[2020-02-26 07:28] tomastrajan commented on #515
You would have to restructure whole application so that the is the `<router-outlet>` as the first component and everything is a route, then there will be some `main-layout` route which would have children which are all the current routes... Then you can have sibling routes like login without any layout...

Another way would be to have special service where some routes would set some special state.

[2020-02-26 07:28] #515 closed

[2020-02-26 07:33] tomastrajan commented on #513
@mcanoglu thank you for great contribution!

For others, there are still many components that can be migrated to use `TestHarness` and now you even have great example of how to do it by @mcanoglu !

[2020-03-01 13:22] #511 closed

[2020-03-05 17:23] parthnayak7448 commented on #510
@tomastrajan  Please help with this request

[2020-03-05 18:48] tomastrajan commented on #510
This is out of scope for this project.

[2020-03-05 18:48] #510 closed

[2020-03-10 12:34] cristianojs opened #518 "Error in Examples"
## Minimal reproduction of the bug with instructions:

I did the download (03/10/2020) then built and ran without any error.
I started to try the application and when I click in the Examples Link the error bellows happens (full stack trace):

core.js:7187 ERROR Error: Uncaught (in promise): ReferenceError: Cannot access 'ExamplesModule' before initialization
ReferenceError: Cannot access 'Examples

[2020-03-10 13:06] geromegrignon commented on #518
I just cloned the project, ran it and clicked on the `Examples` button without having any error.
Could you try to delete your `node_modules` && `package-lock.json` file and run `npm install`?

[2020-03-20 09:01] tomastrajan commented on #518
@geromegrignon thanks for testing this!

[2020-03-20 09:01] #518 closed

[2020-03-29 15:13] Logandata opened #519 "trying to run but it's not work"
git clone https://github.com/tomastrajan/angular-ngrx-material-starter.git new-project
cd new-project
npm install
npm start
and then I get error
-----------------------------------------------------------------------------------------------------
ERROR in Cannot use 'in' operator to search for 'base10Value' in null
** Angular Live Development Server is listening on localhost:4200, open your browse

[2020-04-02 08:23] bvassilis commented on #519
I got the same error. I upgraded to 9.1 @angular and the issue has gone.

[2020-04-08 07:25] tomastrajan commented on #519
@Logandata  @bvassilis please check this [issue](https://github.com/angular/angular/issues/36253)

[2020-04-09 11:26] GrayStrider opened #520 "Mark repository as template for easier scaffolding"
Repository settings -> `Template` checkbox

[2020-04-10 11:31] tomastrajan commented on #520
@GrayStrider done 👍

[2020-04-10 11:31] #520 closed

[2020-04-21 13:54] bhagwatipandey commented on #508
For me it was working when I made the entry in core.module file

[2020-04-27 19:19] paulayo93 commented on #519
@tomastrajan thanks, the solution worked for me

[2020-05-05 15:57] daboudii opened #523 "No redirect from /examples/authenticated if not login."
## Minimal reproduction of the bug with instructions:
1- Remove all data from localstorage.
2- Navigate to: https://tomastrajan.github.io/angular-ngrx-material-starter#/examples/authenticated
3- No component/route is loaded after

## Expected behavior:
Redirect to `/example` or `/about` page.

## Other information:
[code]

## I would be willing to submit a PR to fix this issue:

[x] Yes (Assistanc

[2020-05-07 22:18] bhahn57570 opened #524 "class active on Todos filter not showing up"
The view todos-container.component.html is giving an error on

`
[ngClass]="{ active: todos.filter === 'ACTIVE' }
`

Indeed todos.filter does not exist instead add  in todos-container.component.ts

`
filter$: Observable<TodosFilter>;
....
  ngOnInit() {
    this.todos$ = this.store.pipe(select(selectTodos));
    this.filter$ = this.store.pipe(select(selectTodosFilter));
    this.removeDoneDisabled

[2020-05-10 11:58] tomastrajan commented on #524
Hi @bhahn57570 !

Sounds good, would you be willing to submit a pull request to fix this?

Cheers!

[2020-05-10 13:35] nobaddy opened #525 "Angular Universal :ssr show ERROR TypeError: Cannot read property 'settings' of undefined"
i had tried many methods .
then i downloaded new repository and run still show this error, i don't know what to do
soo please help ,thankyou

npm run build:ssr && npm run serve:ssr

Node Express server listening on http://localhost:4000
ERROR TypeError: Cannot read property 'settings' of undefined
    at /home/floki/new-project/dist/angular-ngrx-material-starter/server/main.js:1:5347058
    at /ho

[2020-05-10 17:19] nobaddy commented on #525
Or Is there any other way for server side rendering baside (angular universal) for SEO

[2020-05-11 11:25] tomastrajan commented on #525
Hi @nobaddy !

The error seems to be with some object which is missing where we try to access some value on it,

the code in question can be made more robust by using `if ()` or even new `obj?.prop`, besides that, you might need to provide some default values for these properties for it to make sense, as settings may decide language, theme etc... which will then need to be used during SSR so you p

[2020-05-14 13:03] bhahn57570 commented on #524
Hi Sorry for the late response, I am quite busy these days.

Yes, I would like to submit a pull request, I will do it next week. Is it
ok for you?

I am just not familiar with GitHub, I just have to push on a specific
branch and after asking you for a pull request that it?

Thanks a lot for the project it helped me a lot to start with angular.

Cheers!

Le dim. 10 mai 2020 à 13:58, Tomas Trajan <n

[2020-05-14 13:49] tomastrajan commented on #524
Hi @bhahn57570 !

No worries, there is enough time!

The way to do it on github is first to `fork` this repository into your account. Then you clone it, make a branch and commit a fix to your repository (project fork)

Once you do it, Github will allow you to open pull request based on your fork, you should see that button just by visiting this repository.

Hope that helps!

Cheers,
Tomas

[2020-05-15 11:29] daboudii commented on #463
For those who seek for a good example of Auth with ngrx check this repo: https://github.com/samjulien/nostalgia-mart

[2020-05-16 19:59] BBX999 opened #527 "Perhaps better way to update ngrx on form.valuechanges()"
I noticed in the current form.component.html the following code is used in the template to update the ngrx model:

[code]

I found that this triggers multiple and duplicate actions for even a single key entry on an input field. It also triggers the action on clicks within the form when data has not changed. I am wondering if this is by design or whether the duplicate actions are tolerated for the

[2020-05-26 19:23] netlander commented on #385
Having problems deploying to Docker.

Where would the Docker scripts mentioned above be found?

[2020-07-31 07:53] varunahuja555 commented on #499
@Amitshaale

Try this. It's working.
`const elmnt = document.getElementById(id);
    elmnt.scrollIntoView({behavior: 'smooth'});`

[2020-07-31 07:54] varunahuja555 commented on #502
@hieuntp2
Try this. It's working
`const elmnt = document.getElementById(id);
    elmnt.scrollIntoView({behavior: 'smooth'});`

[2020-08-26 00:07] chan-dev opened #534 "HttpErrorResponse are handled twice in HttpInterceptor and Errorhandler"
Don't you think it get's handled in two places?

https://github.com/tomastrajan/angular-ngrx-material-starter/blob/0bdf1e5b9d415b2e3007bd1d6268e70c70205552/projects/angular-ngrx-material-starter/src/app/core/http-interceptors/http-error.interceptor.ts#L25

My question is why not just use `throwError` inside the interceptor to propagate the error back to the app?

[2020-08-26 00:12] chan-dev opened #535 "Is there any reason why services are exported in CoreModule"
Arent' services injected within angular's root injector unless they're lazy loaded?

Here's a snippet of it.
[code]

[2020-08-26 06:41] tomastrajan commented on #535
Hi @chan-dev !

The resason is to be able to import them centrally from core.module (similar to index.ts) instead of deep imports from core.

That way it is possible to describe "public" `CoreModule` API which is ment to be consumed...

Imports then look like `import { ROUTE_ANIMATIONS_ELEMENTS } from '../../../core/core.module';`

It owuld be possible to achieve the same using `index.ts` but that

[2020-08-26 06:41] #535 closed

[2020-08-26 06:43] tomastrajan commented on #534
As far as I remember, this is an side effect for errors in backend request so we display some notification but then the error is propagated to the call site where the request was made which usualy then handles error directly.

`throwError` would do nothing in this case as `tap` operator is only for side effects and does not influence the origin stream.

Hope that clarifies your question.

[2020-08-26 06:43] #534 closed

[2020-08-26 07:56] chan-dev commented on #534
It was a mistake on my part. What I mean is instead of `tap` we use `catchError` and rethrow the error back using `throwError`.  With the current setup isn't the notification service gets called twice since the interceptor just delegates the handling to ErrorHandler, and then the propagated error also will once again be handled by ErrorHandler. maybe I'm wrong but that's how I feel like how it goe

[2020-08-26 07:59] chan-dev commented on #535
Oh I see, I didn't look at it that way. Is there still an issue with resolution paths that's why you stick with this approach instead of using index.ts?

[2020-08-26 08:02] tomastrajan commented on #535
@chan-dev havent explored that in some time now so I do not have up to date info on it, now that I remember part of the problem were wrong auto imports in intellij IDEA but dont know the current situation...

Another aproach can be to have `tsconfig.json` path aliases, eg `@core` but there were some issues with that too so I settled for approach in this repo but might be interesting to revisit.

[2020-08-26 08:03] tomastrajan commented on #534
@chan-dev it would be, but the assumption is that every called handles its own erros and converts them to the valid value so they never buble up to central error handler.

[2020-08-26 23:46] chan-dev commented on #535
oh i see. Thanks for the response.

[2020-08-26 23:47] chan-dev commented on #534
got ya, i guess we should add it in the documentation or README?

[2020-08-27 06:51] tomastrajan commented on #534
@chan-dev that could be valuable addition ;)

[2020-09-07 12:24] daboudii opened #536 "Enable strict mode"
After reading this [Angular blog post](https://blog.angular.io/angular-cli-strict-mode-c94ba5965f63), I thought it would be nice to make your starter app  in strict mode.

#  Describe the feature you'd like:

Enable stricter type checking in tsconfig.json:
-    strictPropertyInitialization
-    strictNullChecks
-    noImplicitAny
-    strictBindCallApply
-    strictFunctionTypes

Reduce Bundle Bud

[2020-09-07 15:18] tomastrajan commented on #536
@daboudii sounds like good idea, would be nice to get an PR ;)

[2020-09-07 18:17] rathodkaran07 opened #537 "How to handle async localstorage to sync with ngrx"
## Minimal reproduction of the bug with instructions:
If I replace localstorage with localforge in local-storage.service -> loadInitialState() I am unable to sync state with localstorage on app load. Can you guide to what are the changes to make to work with async storage ??

## Expected behavior:

## Other information:

## I would be willing to submit a PR to fix this issue:

[ ] Yes (Assistance

[2020-09-20 19:06] tbowmo opened #539 "cypress is still listed as a feature, although support is removed"
[here](https://tomastrajan.github.io/angular-ngrx-material-starter#/feature-list) cypress is mentioned as a feature, but all code supporting cypress seems to be removed from the codebase..

[2020-10-01 17:10] Danubius1st opened #540 "Help please !"
I have an error trying to rewrite the app. Any hint would be appreciated.

**app.component.ts:**
![01  app component ts](https://user-images.githubusercontent.com/22094979/94840238-cb3a6b00-0420-11eb-82b0-0aea96e427b4.png)

![02  app component ts](https://user-images.githubusercontent.com/22094979/94840248-cecdf200-0420-11eb-9dff-ae0245b97560.png)

**app.module.ts:**
![03  app module ts](https://u

[2020-10-13 12:28] Zaky7 opened #541 "Angular Material Usage"
Hi, I have recently came across this [article ](https://indepth.dev/stop-using-shared-material-module/)where author say we should not use shared material module.

In this repo, we have a sharedModule consisting of material modules in it. Other feature modules are using the shared module in them. Do this have effect on the build size.

What is the  correct pattern of using Angular Material. In the

[2020-10-14 04:35] Zaky7 commented on #540
can you share a stackblitz or code so that I take a loot into it?

[2020-10-14 15:26] Danubius1st commented on #540
What I try is here:
`git clone https://Crysis3@bitbucket.org/Crysis3/starter.git`
Thanks

[2020-10-14 15:28] Danubius1st commented on #540
`git clone https://Crysis3@bitbucket.org/Crysis3/starter.git`
Thanks

[2020-10-15 08:21] tomastrajan commented on #541
Hi @Zaky7!

Using of `SharedModule` represents a tradeoff between most optimized bundle size and developer experience (convenience).

It is true that we would get smallest possible bundles by listing every single used module in every lazy feature module.
On the other hand maintaining these lists is pretty tedious and error prone ( its easy to forget to remove import of module when the component is

[2020-10-16 13:04] Zaky7 commented on #541
I agree  @tomastrajan even in my own finding I found out the same. Using only required modules in the feature module would eventually reduce my bundle size but there would be trade off.

I have used same technique of using a shared module in my unit tests. Importing shared modules in tests is making them slow. I will try to removing less used Material modules from the shared module and check the r

[2020-10-16 13:06] tomastrajan commented on #541
@Zaky7 all the best with your projects, cheers !

[2020-10-16 13:06] #541 closed

[2020-10-18 14:12] Zaky7 commented on #540
The code you shared had only default angular code. I had to recreate the code from the screen shot provided. But I did not get the error. May be you can have look at my code https://github.com/Zaky7/NgRxStarterSample.

Or you need to check the dependency of your project.

[2020-10-18 15:38] Danubius1st opened #542 "DatePipe & DecimalPipe"
I need to read dates and numbers from a json file and dynamically change locale format.
Would be nice to add localized DatePipe and DecimalPipe in an example.

[2020-10-19 08:20] #540 closed

[2020-10-19 08:21] Danubius1st commented on #540
Awesome! Thanks! 🥇

[2020-10-22 15:41] tomastrajan commented on #540
@Zaky7 thanks for help mate!

[2020-11-11 08:22] #502 closed

[2021-01-08 10:49] Octoate opened #544 "Problem using translation in a separate module"
Hi,
first of all, thank you very much for the great starter template. It really helped me to get into NgRx.
However, I have the problem that I have created a new module under "features" called "setup" which contains a component called "devices". I also want to use a separate translation file for the "setup" module that is located under "assets/i18n/setup".

Unfortunately the translation does not w

[2021-01-13 13:11] Octoate commented on #544
I was just able to reproduce it with a clean starter template. I just added a new module under 'features' called 'setup' and put a component 'devices' in it. The result is attached below.

[angular-ngrx-material-starter-master.zip](https://github.com/tomastrajan/angular-ngrx-material-starter/files/5808748/angular-ngrx-material-starter-master.zip)

[2021-01-17 22:47] reevesba commented on #501
Use the props method by updating the following files.

**auth.actions.ts**
`export const authLogin = createAction('[Auth] Login', props<{token: string}>());`

**auth.models.ts**
`export interface AuthState {`
&emsp;`    isAuthenticated: boolean;`
&emsp;`    token: string;`
`}`

**auth.reducer.ts**
` export const initialState: AuthState = {`
&emsp;`  isAuthenticated: false,`
&emsp;`  token: null`
`

[2021-01-18 13:04] tomastrajan commented on #501
@reevesba thanks for sharing!

[2021-02-06 05:50] reevesba opened #545 "Toolbar Covering Top of Scroll"
Not so much an issue, just a question. Any quick way to position the scroll bar beneath the toolbar rather than behind it? Thanks for the great template! I love the overall structure.

[2021-02-16 12:49] Pierotimo opened #547 "Manual selection of theme"
Hello,

Could you add a little code sample to show how to manually select the theme (such as to save it between sessions) ?

Thank you very much,
P.

[2021-03-26 02:06] slegge commented on #545
It is not too difficult to do if you want to stick with a `sticky` header, but since there is a property to turn the stickiness on and off it would be difficult due to how the `mat-sidenav-container` works.

If you are ok with always having a sticky header, you could move the toolbar before the `mat-sidenav-container` and move the top of the rest of the content below it.

Another option is to not

[2021-03-28 01:07] reevesba commented on #545
Make sense, thanks for the suggestions!

[2021-04-09 13:29] tdlong506 opened #549 "i18n editor"
Could I ask: does team use any tools/extensions for editing babel/json file in i18n folder?

[2021-04-09 13:44] tdlong506 commented on #549
I found out the app BabelEdit.
Now I close this question.
Thanks team

[2021-04-09 13:44] #549 closed

[2021-04-27 17:37] thankikaushik commented on #544
@Octoate any luck with solution ?

[2021-07-01 14:37] jthoms commented on #536
+1 to merge the PR

[2021-07-01 15:12] tomastrajan commented on #536
Would love to but...

![image](https://user-images.githubusercontent.com/3764868/124148050-93d01c00-da8f-11eb-8e40-4cefdcd8f804.png)

[2021-07-15 19:23] omarbenzi opened #556 "link leads to 404 github page. README.md file"
**Footer link**
  <img width="1080" alt="Screen Shot 2021-07-15 at 3 22 08 PM" src="https://user-images.githubusercontent.com/52929955/125845505-113d34d2-62bc-4257-a779-1bb38ab59efc.png">

[2021-07-16 07:18] tino-tg commented on #556
@omarbenzi  thanks for submitting the issue --> fix is on the way

[2021-07-20 08:21] #556 closed

[2021-08-07 08:14] millbj92 commented on #547
I'm not entirely sure what you're asking. In the demo you should be able to select the cog icon on the right hand side of the toolbar, and there will be a dropdown for selecting the theme you'd like. It also does persist state using a combination of ngrx and localStorage.
Check out both:

You can see where app state is being set. Once you've read and understood those files, take a look at these:

[2021-08-07 08:56] millbj92 commented on #544
My guess is this is because the core module is eagerly loaded at runtime. If you look at the [docs](https://github.com/ngx-translate/http-loader#usage) you have to inject the HTTP module into the Translate module. Afaik there can only be one file loaded into translate at a time.

Thinking of ways around this... I would manually add my own prefix in the json that is already loaded by default and ex

[2021-08-07 09:11] millbj92 commented on #542
This is probably a better question to ask on the actual package used to translate. This package is meant to be a starter package for clean code with just some fun examples thrown in. i18n does not have a standard for dates or currencies, as far as I know. Best bet is to write your own service and pipe, and either keep a massive json file in your assets folder with all the different variants or sti

[2021-08-07 11:31] millbj92 opened #558 "Storing password in state"
I know this is meant only as an example for newer users, but in the example of the form you are storing the password in the application state. While that is a security risk in itself, the value is also persisted in local storage. Again, I know this is just a small demo but it would be great to promote security while we are at it! BTW I'm a huge fan of this architecture. My thoughts on this are to

[2021-08-07 13:01] millbj92 commented on #558
PR submitted. Also tackled #527, that was definitely a bug.

As this is a template, and novices will most likely use this as a starting point for their projects, I would highly recommend making it known that proper security needs to be implemented before this is production-ready.

[2021-08-08 00:30] millbj92 commented on #527
Submitted a PR for this, btw. Nice catch man!

[2021-08-19 21:57] slegge commented on #536
I have merged the latest and resolved all conflicts

[2021-08-20 09:17] #536 closed

[2021-08-20 09:17] tomastrajan commented on #536
@slegge thank you for your contribution!

[2021-08-30 08:33] BBX999 commented on #527
Thanks!

On Sun, Aug 8, 2021 at 3:30 AM Brandon Miller ***@***.***>
wrote:

[2021-09-16 07:22] #527 closed

[2021-09-16 07:22] #558 closed

[2021-09-23 06:57] timsar2 commented on #308
By using pnpm package manager it has an error:

`NullInjectorError: R3InjectorError(M1)`

[2021-09-23 07:31] timsar2 opened #561 "By using pnpm package manager it has an error:"
By using pnpm package manager it has an error:

`NullInjectorError: R3InjectorError(M1)[e -> e -> j3 -> ue -> d1 -> d1 -> d1]:
  NullInjectorError: No provider for d1!
    at M8.get (main.js:1)
    at d7.get (main.js:1)
    at d7.get (main.js:1)
    at d7.get (main.js:1)
    at hi (main.js:1)
    at Object.St (main.js:1)
    at Object.ue.ɵfac [as factory] (main.js:1)
    at d7.hydrate (main.js:1)

[2021-09-23 09:11] shady-abdelhamid opened #562 "Add Arabic translation"
## Describe the feature you'd like:
as a user, I want to review the starter project in Arabic language
## Other information:

## I would be willing to submit a PR to fix this issue:

[ ✔️ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2021-09-24 08:34] shootermv opened #564 "fix Hebrew typos and improve Hebrew translations in a few places"
## I want to fix typos and improve Hebrew translations in a few places
Also i think it is better to add "rtl" directives to some text sections - in a way it will make Hebrew(and other rtl-languages)reader to feel more comfortable

example:
![image](https://user-images.githubusercontent.com/1336862/134644066-86353594-a980-4fcc-b708-46199f07c8dd.png)

[ ] Yes (Assistance is provided if you need help

[2021-10-04 12:42] #564 closed

[2021-10-04 12:43] #562 closed

[2021-11-02 10:37] jbistis opened #567 "BrowserModule has already been loaded error when importing an angular library that imports BrowserModule"
I am trying to use a component from an angular library <pdl-input-number> and get the console error:

**BrowserModule has already been loaded. If you need access to common directives such as NgIf and NgFor from a lazy loaded module, import CommonModule instead.**

Both the SharedModule from the library and the AppModule in the app have the imports
`import { BrowserModule } from '@angular/platform-

[2021-11-05 10:52] jbistis commented on #567
Angular support has indicated this looks like an angular bug. https://github.com/angular/angular/issues/44015

[2021-11-05 10:52] #567 closed, assigned to nobody

[2021-11-19 19:03] BradleyLankler opened #569 "selector issue"
## Minimal reproduction of the bug with instructions:
Am using <abc-xyz> as a selector in your html and it is appearing on the page
i.e. <abc-xyz>hello world</abc-xyz> still prints hello world

## Expected behavior:
An error should be popping up saying selector is not valid
## Other information:
How is this working?
## I would be willing to submit a PR to fix this issue:
no
[ ] Yes (Assistance is

[2021-11-20 12:10] jbistis commented on #569
More on this, e.g. in stock-market-container.component.html, I can add <abc-xyz>hello</abc-xyz> at the top and there is no console error but if remove the dash, <abcxyz>hello</abcxyz> I get the error NG0304: 'abcxyz' is not a known element.  This behavior is only in ExamplesModule.  In all other modules, it works as expected.